<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="social-bottom">
			<a href="http://vk.com/teatrkomediantispb" class="vk"><i class="fa fa-vk"></i></a>
			<a href="http://yandex.ru" class="facebook"><i class="fa fa-facebook"></i></a>
			<a href="http://yandex.ru" class="google-plus"><i class="fa fa-google-plus"></i></a>
			<a href="http://yandex.ru" class="youtube"><i class="fa fa-youtube-play"></i></a>
			<a href="http://yandex.ru" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
			<a href="http://yandex.ru" class="twitter"><i class="fa fa-twitter"></i></a>
			<a href="http://yandex.ru" class="rss"><i class="fa fa-rss"></i></a>
		</div>
		<nav class="sitemap">
			<ul class="nav-menu">
				<li class="page_item about">
					<a href="about.html">О театре</a>
					<ul class="subnav">
						<li class="subpage_item"><a href="#">История театра</a></li>
						<li class="subpage_item"><a href="#">План зала</a></li>
						<li class="subpage_item"><a href="#">Технические параметры сцены</a></li>
						<li class="subpage_item"><a href="#">Административная часть</a></li>
					</ul>
				</li>
				<li class="page_item news">
					<a href="news.html">Новости</a>
					<ul class="subnav">
						<li class="subpage_item"><a href="#">Журнал</a></li>
						<li class="subpage_item"><a href="#">Архив новостей</a></li>
						<li class="subpage_item"><a href="#">Архив прессы</a></li>
						<li class="subpage_item"><a href="#">Гастроли</a></li>
					</ul>
				</li>
				<li class="page_item playbill">
					<a href="playbill.html">Афиша</a>
					<ul class="subnav">
						<li class="subpage_item"><a href="#">Декабрь</a></li>
						<li class="subpage_item"><a href="#">Январь</a></li>
						<li class="subpage_item"><a href="#">Детские спектакли</a></li>
					</ul>
				</li>
				<li class="page_item repertoire">
					<a href="repertoire.html">Репертуар</a>
					<ul class="subnav">
						<li class="subpage_item"><a href="#">Взрослый</a></li>
						<li class="subpage_item"><a href="#">Детский</a></li>
						<li class="subpage_item"><a href="#">Архив</a></li>
					</ul>
				</li>
				<li class="page_item troupe">
					<a href="troupe.html">Труппа</a>
					<ul class="subnav">
						<li class="subpage_item"><a href="#">Актеры</a></li>
						<li class="subpage_item"><a href="#">С нами сотрудничают</a></li>
						<li class="subpage_item"><a href="#">Руководство</a></li>
						<li class="subpage_item"><a href="#">Постановочная часть</a></li>
					</ul>
				</li>
				<li class="page_item contacts">
					<a href="contact.html">Контакты</a>
					<div class="data">
						<p>СПб, Лиговский пр., д. 44</p>
						<p>Касса: (812) 572–10–04</p>
					</div>
				</li>
			</ul>
		</nav>
		<div class="colophon">
			<div class="copyrights">
				<p>ЛО ГУК «Драматический театр «Комедианты»</p>
				<p class="copy">© ТЕАТР «КОМЕДИАНТЫ», 2014</p>
			</div>
			<div class="address">
				<p>Санкт-Петербург, Лиговский проспект, д. 44, 191040</p>
				<p>Телефон: (812) 572–10–04, Факс: (812) 764–70–16</p>
			</div>
			<div class="email">
				<p>E-mail: <script>a="DMEBCAEIFCEFEGDNCCGNGBGJGMHEGPDKGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNCCDOGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNDMCPEBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}</script></p>
				<p>Администрация: <script>a="DMEBCAEIFCEFEGDNCCGNGBGJGMHEGPDKGBGEGFGMHGGFGJHDDBDDDEDEEAHJGBGOGEGFHICOHCHFCCDOGBGEGFGMHGGFGJHDDBDDDEDEEAHJGBGOGEGFHICOHCHFDMCPEBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}</script></p>
			</div>
			<div class="design">
				<p>Дизайн: Екатерина Май, Александр Рябцев</p>
				<p>Программирование: Александр Рябцев</p>
			</div>
		</div>
		<div class="sponsors">
			<div class="sponsor eksperiment">
				<a href="#"><img src="{{ 'partials/sponsors/eksperiment.png'|theme }}"></a>
			</div>
			<div class="sponsor konkretno">
				<a href="#"><img src="{{ 'partials/sponsors/konkretno.png'|theme }}"></a>
			</div>
			<div class="sponsor okolo">
				<a href="#"><img src="{{ 'partials/sponsors/okolo.png'|theme }}"></a>
			</div>
			<div class="sponsor panorama">
				<a href="#"><img src="{{ 'partials/sponsors/panorama.png'|theme }}"></a>
			</div>
			<div class="sponsor petersburg">
				<a href="#"><img src="{{ 'partials/sponsors/petersburg.png'|theme }}"></a>
			</div>
			<div class="sponsor piterstory">
				<a href="#"><img src="{{ 'partials/sponsors/piterstory.png'|theme }}"></a>
			</div>
			<div class="sponsor subkultura">
				<a href="#"><img src="{{ 'partials/sponsors/subkultura.png'|theme }}"></a>
			</div>
			<div class="sponsor teledom">
				<a href="#"><img src="{{ 'partials/sponsors/teledom.png'|theme }}"></a>
			</div>
		</div>
		<div class="culture lo">
			<h4>Комитет по культуре Ленинградской области</h4>
			<a href="#"><img src="{{ 'partials/sponsors/LO.png'|theme }}"></a>
		</div>
	</div>
</footer>

<div class="module">
	<input type="checkbox" id="on" name="modules">
	<div class="modules"></div>
</div>

