[theaterPartners Partners]
category = "partnery"
[theaterPartners Sponsors]
category = "sponsory"
[staticMenu siteMap]
code = "main-menu"
==
<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="wrap">
			<div class="social-bottom ssk-group ssk-xs ssk-rounded">
				<a href="#" class="social-items ssk ssk-vk"></a>
				<a href="#" class="social-items ssk ssk-facebook"></a>
				<a href="#" class="social-items ssk ssk-youtube"></a>
				<a href="#" class="social-items ssk ssk-vimeo"></a>
			</div>
			<nav class="sitemap">
				{% component 'siteMap' %}
			</nav>
			<div class="colophon">
				<div class="colophon-item copyrights">
					<p>ЛОГБУК «Драматический театр «Комедианты»</p>
					<p class="copy">© ТЕАТР «КОМЕДИАНТЫ», 2015</p>
				</div>
				<div class="colophon-item address">
					<p>Санкт-Петербург, Лиговский проспект, д. 44, 191040</p>
					<p>Телефон: (812) 764−81−14, Факс: (812) 764–70–16</p>
				</div>
				<div class="colophon-item email">
					<p>E-mail: <script>a="DMEBCAEIFCEFEGDNCCGNGBGJGMHEGPDKGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNCCDOGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNDMCPEBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}</script></p>
					<p>Фотографии: Анастасия Филиппова</p>
				</div>
				<div class="colophon-item design">
					<p>Дизайн: Екатерина Май, Александр Рябцев</p>
					<p>Программирование: Александр Рябцев</p>
				</div>
			</div>
			<div class="colophon small">
				<div class="colophon-item copyrights">
					<p>ЛОГБУК «Драматический театр «Комедианты»</p>
					<p>Санкт-Петербург, Лиговский проспект, д. 44, 191040</p>
					<p class="copy">© ТЕАТР «КОМЕДИАНТЫ», 2014</p>
				</div>
				<div class="colophon-item contacts">
					<p>Телефон: (812) 764−81−14, Факс: (812) 764–70–16</p>
					<p>E-mail: <script>a="DMEBCAEIFCEFEGDNCCGNGBGJGMHEGPDKGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNCCDOGLGPGNGFGEGJGBGOHEHJCOHDHAGCEAGHGNGBGJGMCOGDGPGNDMCPEBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}</script></p>
					<p>Администрация: <script>a="DMEBCAEIFCEFEGDNCCGNGBGJGMHEGPDKGBGEGFGMHGGFGJHDDBDDDEDEEAHJGBGOGEGFHICOHCHFCCDOGBGEGFGMHGGFGJHDDBDDDEDEEAHJGBGOGEGFHICOHCHFDMCPEBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}</script></p>
				</div>
				<div class="colophon-item design">
					<p>Фотографии: Анастасия Филиппова</p>
					<p>Дизайн: Екатерина Май, Александр Рябцев</p>
					<p>Программирование: Александр Рябцев</p>
				</div>
			</div>
			<div class="sponsors">
				{% component 'Sponsors' %}
			</div>
			<div class="partners">
				{% component 'Partners' %}
			</div>
			<div class="culture lo">
				<h4>При поддержке комитета по культуре Ленинградской области</h4>
				<a href="http://www.culture.lenobl.ru/" class="logo"><img src="{{ 'assets/images/LO.png'|theme }}"></a>
			</div>
		</div>
	</div>
</footer>
