[viewBag]
==
<!-- Header -->
<header id="masthead" role="banner" class="site-header">
	<div class="container">
		<div class="wrap">

			<div class="main-logo">
				<a href="/" title="На главную">
					<div class="logo">

						{% partial 'logo' %}

					</div>
					<div class="title">
						<div class="top">Театр</div>
						<div class="main">Комедианты</div>
					</div>
				</a>
			</div>

			<div class="descriptor">
				<div class="items">
					<div class="item text company">ЛО ГБУК «Драматический театр «Комедианты»</div>
					<div class="item text address">СПб, Лиговский пр., д. 44</div>
					<div class="item text ticket">Касса: 764−81−14</div>
					<div class="item social-top">
						<a href="http://vk.com/teatrkomediantispb" class="social-items vk"><i class="fa fa-vk"></i></a>
						<a href="http://yandex.ru" class="social-items facebook"><i class="fa fa-facebook"></i></a>
						<a href="http://yandex.ru" class="social-items google-plus"><i class="fa fa-google-plus"></i></a>
						<a href="http://www.youtube.com/channel/UChJjDGGECyPCIQuQIFHaoww" class="social-items youtube"><i class="fa fa-youtube-play"></i></a>
						<a href="http://yandex.ru" class="social-items vimeo"><i class="fa fa-vimeo-square"></i></a>
						<a href="http://yandex.ru" class="social-items twitter"><i class="fa fa-twitter"></i></a>
						<a href="http://yandex.ru" class="social-items rss"><i class="fa fa-rss"></i></a>
					</div>
					<div class="item search">
						<a href="#"><i class="fa fa-search"></i></a>
					</div>
				</div>
			</div>

			<nav id="site-navigation" role="navigation" class="main-navigation">

				{% component 'staticMenu' %}

			</nav>

		</div>
	</div>
</header><!-- #masthead-->

