<!-- Meta -->
<meta charset="utf-8">
<meta name="author" content="Abnmt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicons -->
<link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}">
<link rel="apple-touch-icon" href="{{ 'assets/images/apple-touch-icon-precomposed.png'|theme }}">
<meta name="msapplication-config" content="{{ 'assets/browserconfig.xml'|theme }}">
<!-- Styles -->
{% styles %}
<link href="{{ [ 'assets/css/main.css' ]|theme }}" rel="stylesheet">
<link href="{{ [ 'vendor/social-share-kit-1.0.4/dist/css/social-share-kit.css' ]|theme }}" rel="stylesheet">
<!-- Modernizr -->
<script src="{{ [ 'assets/js/modernizr.min.js']|theme }}"></script>

