{% if articles.lastPage > 1 %}
    <ul class="pagination">
        {% if articles.currentPage > 1 %}
            <li class="prev"><a href="{{ this.page.baseFileName|page({ (pageParam): (articles.currentPage-1) }) }}">&larr;</a></li>
        {% endif %}

        {% for page in 1..articles.lastPage %}
            <li class="pagination-item{{ articles.currentPage == page ? ' active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if articles.lastPage > articles.currentPage %}
            <li class="next"><a href="{{ this.page.baseFileName|page({ (pageParam): (articles.currentPage+1) }) }}">&rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}