{% set back_color = ['7b001d', '820027', '780313', '5f1001', '660010'] %}

                                <article class="news" style="background-color:#{{random(back_color)}};">
                                    <div class="featured">
                                        <a href="{{ post.url }}" class="featured-link">
                                            <img src="{{ post.cover.thumb(416, 256, { mode: 'crop', extension: 'jpg' }) }}" />
                                        </a>
                                    </div>
                                    <div class="entry-content">
                                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                        <p class="excerpt">{{ post.excerpt }}</p>
                                    </div>

                                    <a class="link" href="{{ post.url }}">Читать полностью</a>

                                    <p class="meta">
                                        <span class="comments">
                                            <i class="fa fa-comments-o"></i> 12
                                        </span>
                                        <span class="views">
                                            <i class="fa fa-eye"></i> 456
                                        </span>
                                    </p>

                                    <p class="info">{{ post.published_at|date('Y.m.d') }}</p>

                                </article>