{% for item in items %}
    <li class="{{ class ? class ~ '-item' : '' }} {{ item.items ? 'has-child' : '' }} {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }}">
        {# {% if item.isActive %}{{ item.title }}{% else %}<a href="{{ item.url }}">{{ item.title }}</a>{% endif %} #}
        <a href="{{ item.url }}">{{ item.title }}</a>

        {% if item.items %}
            <ul class="sideMenu {{ item.isChildActive ? 'child-active' : '' }}">{% partial __SELF__ ~ "::items" items=item.items class='sideMenu'%}</ul>
        {% endif %}
    </li>
{% endfor %}