{% set posts = __SELF__.posts %}<!-- News Feed -->
							<div class="post-list">
								{% for post in posts %}<!-- {{ post.slug }} -->
								<article class="news">
									<div class="featured">
										<img src="{{ post.featured_images.0.path }}" />
									</div>
									<div class="entry-content">
										<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
										<p class="excerpt">{{ post.excerpt }}</p>
									</div>

									<a class="link" href="{{ post.url }}">Читать полностью</a>

									<p class="meta">
										<span class="comments">
											<i class="fa fa-comments-o"></i> 12
										</span>
										<span class="views">
											<i class="fa fa-eye"></i> 456
										</span>
									</p>

									<p class="info">{{ post.published_at|date('Y.m.d') }}</p>

								</article>
								{% else %}
								<article class="no-data">{{ noPostsMessage }}</article>
								{% endfor %}<!-- /End -->
							</div>

							<div class="newsArchive-link">
								<a href="{{ 'pages/news'|page }}">Все новости</a>
							</div>