{% put scripts %}
    <script type="text/javascript" src="http://komedianty.apit.bileter.ru/d98a3e8ab87ecd3721a78a273bd9146a.js"></script>
{% endput %}

{% put styles %}
    <link href="http://apit.bileter.ru/css/apit.css" rel="stylesheet" />
    <link href="http://apit.bileter.ru/css/komedianty.com.css" rel="stylesheet" />
{% endput %}


{% if group %}

{% for post in group.normal %}
    {% partial __SELF__ ~ "::event" event=post %}
{% endfor%}

{% if group.child %}
<h3 id="child">Детские спектакли</h3>
{% for post in group.child %}
    {% partial __SELF__ ~ "::event" event=post %}
{% endfor%}
{% endif %}

{% else %}

{% for post in posts %}
    {% partial __SELF__ ~ "::event" event=post %}
{% endfor%}

{% endif %}


