<!-- {{ event.slug }} -->
<div class="event">
    <div class="buy-button-block"><a href="#" class="buy-button">Купить билет!</a></div>
    <div class="date-block"><span class="date day">{{ event.event_date | date('j') }}</span><span class="date weekday">{{ event.event_date | dateLocale('%a') }}</span></div>
    <div class="title-block">
        <div class="title"><a href="{{ event.relation.url }}">{{ event.relation.title }}</a></div>
        {% if event.relation.rate != null %}<div class="rate">{{ event.relation.rate }}</div>{% endif %}

        {% if event.relation.author != null %}<div class="author">{{ event.relation.author }}</div>
        {% elseif event.relation.description %}<div class="description">{{ event.relation.description }}</div>{% endif %}

        <div class="meta">
            {% if event.relation.duration != null %}<span class="duration">длительность {{ event.relation.duration | duration }},</span>{% endif %}
            <span class="start-time">начало в {{ event.event_date | date('H:i') }}</span>
        </div>
    </div>
</div>

