/********************************************************************************************************************************************
 *  CUSTOM
 ********************************************************************************************************************************************/
#home #playbill
	// .marlen-rozhdennaya-dlya-lyubvi
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (50/$rem)
	// 			.oa-comma
	// 				margin-right -.32em
	// 	.date-block
	// 		background-color #033387
	// 		color white
	// .esli-pozhenilis-znachit-zhit-pridetsya
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (45/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	// .date-block
	// 	// 	background-color #033387
	// 	// 	color white
	// .pominalnaya-molitva
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (60/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	.date-block
	// 		background-color #EADAC1
	// 		color black
	// .kompromiss
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (90/$rem)
	// 			margin-right 0
	// 	.date-block
	// 		background-color #DBA822
	// 		color black
	// .ne-vsyakii-vor-grabitel
	// 	// .title-block
	// 	// 	.author
	// 	// 		fs (24/$rem)
	// 	// 	.title
	// 	// 		fs (90/$rem)
	// 	// 		margin-right 0
	// 	.date-block
	// 		background-color #033387
	// 		color white




	.beda-ot-nezhnogo-serdtsa
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.brys-ili-istoriya-kota-filofeya
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f73b0f
			color white

	.dachnitsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #7663a5
			color white

	.durochka
		.title-block
			.title
				fs (60 /$rem)
		.date-block
			background-color #00a585
			color white

	.ekhala-derevnya-mimo-muzhika
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #0574ce
			color white

	.esli-pozhenilis-znachit-zhit-pridetsya
		.title-block
			.title
				fs (50/$rem)
				.oa-comma
					margin-right -.21em
		.date-block
			background-color #991101
			color white

	.karlson
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #f13516
			color white

	.kompromiss
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #cf9b23
			color black

	.kot-v-sapogakh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.krepostnaya-lyubov
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.kytsik-mytsik-i-tyotushka-mari
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f13516
			color white

	.les
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #008451
			color white

	.marlen-rozhdennaya-dlya-lyubvi
		.title-block
			.title
				fs (56/$rem)
				.oa-comma
					margin-right -.22em
		.date-block
			background-color #a00042
			color white

	.ne-vsyakii-vor-grabitel
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #0947aa
			color white

	.pominalnaya-molitva
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #e8d6c5
			color black

	.progulka-v-lyu-blyo
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #0947aa
			color white

	.provintsialnye-anekdoty
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #dcc1b5
			color black

	.sirano-de-berzherak
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #e8d6c5
			color black

	.staraya-zaichikha
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #dcc1b5
			color black

	.strasti-po-italyanski
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #c73115
			color white

	.uchilka-iz-buduschego
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #13b3b5
			color white

	.v-parizh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #1e52a5
			color white

	.volki-i-ovtsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #7abcb1
			color black

	.volshebnye-sosulki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #033387
			color white

	.zapisnye-knizhki-trigorina
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #033387
			color white

	.zemlyaki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #b82117
			color white

	.zhenitba
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #b82117
			color white

// ------
bg-left()
	left 0
	width (36/120)*100%
	// float left
bg-right()
	width (48/120)*100%
	right 0
	// float right
	// clear right
bg-bottom()
	bottom 0
bg-top()
	top 0
bg-mid()
	top 33%

// ------

#performance-page

	.bg-container
		position absolute
		// display table-cell
		// vertical-allign middle
		width 100%
		height 100%
		margin 0
		padding 0

		.bg
			// display table-cell
			// max-width 30%
			// max-height (50/120)*100%
			position absolute
			// float right
			margin 0
			padding 0

			font-size 0
			text-align center

			&:before
				display inline-block
				content ""
				height 100%
				vertical-align middle

			// div
			// 	position relative
			// 	max-height 100%
			// 	max-width 100%
			img
				max-width 100%
				max-height 100%
				display inline-block
				vertical-align middle
				margin auto
				width auto
				height auto

		.bg-1
			width (55/120)*100%
			top 0
			right 0
			text-align right
			img
				vertical-align top
		.bg-2
			width (48/120)*100%
			height (40/120)*100%
			bottom (42/120)*100%
			right 0
			text-align right
		.bg-3
			width (48/120)*100%
			right 0
			bottom 0
			text-align right
			img
				vertical-align bottom
		.bg-4
			width (34/120)*100%
			height (40/120)*100%
			left 0
			bottom 0
			text-align left
			img
				vertical-align bottom
		.bg-5
			width (34/120)*100%
			bottom (42/120)*100%
			left 0
			text-align left
		.bg-6
			width (18/120)*100%
			top 0
			left 0
			text-align left
			img
				vertical-align top

	// &.kompromiss
	// 	$h = 100%/2700
	// 	$w = 100%/1920
	// 	background url('../images/covers/kompromiss_01.png') no-repeat,
	// 	url('../images/covers/kompromiss_02.png') no-repeat,
	// 	url('../images/covers/kompromiss_03.png') no-repeat,
	// 	url('../images/covers/kompromiss_05.png') no-repeat,
	// 	url('../images/covers/kompromiss_04.png') no-repeat
	// 	// url('../images/covers/kompromiss_06.png') no-repeat
	// 	background-position 100% 150*$h, 0% 1200*$h, 100% 1400*$h, 0% 2400*$h, 100% 2400*$h
	// 	background-size 1000*$w auto, 578*$w, 627*$w, 500*$w, 650*$w

	// 	margin-bottom -360px

	// &.marlen-rozhdennaya-dlya-lyubvi
	// 	margin-top -136px
	// 	$h = 100%/2700
	// 	$w = 100%/1920

	// 	background url('../images/covers/marlen_07.png') no-repeat
	// 	// url('../images/covers/marlen_01.png') no-repeat,
	// 	// url('../images/covers/marlen_06.png') no-repeat,
	// 	// url('../images/covers/marlen_05.png') no-repeat,
	// 	// url('../images/covers/marlen_04.png') no-repeat,
	// 	// url('../images/covers/marlen_03.png') no-repeat,
	// 	// url('../images/covers/marlen_02.png') no-repeat,
	// 	background-position 100% 0
	// 	background-size 900*$w


	// 	.container
	// 		margin-top 136px


	// &.provintsialnye-anekdoty
	// 	.bg-0
	// 		bg-right()
	// 		bg-top()
	// 	.bg-1
	// 		bg-right()
	// 		bg-mid()
	// 	.bg-2
	// 		bg-right()
	// 		bg-bottom()
	// 	.bg-3
	// 		bg-left()
	// 		bg-bottom()
	// 	.bg-4
	// 		bg-left()
	// 		bg-mid()
	// // 	.bg-5