/********************************************************************************************************************************************
 *  CUSTOM
 ********************************************************************************************************************************************/
#home #playbill
	// .marlen-rozhdennaya-dlya-lyubvi
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (50/$rem)
	// 			.oa-comma
	// 				margin-right -.32em
	// 	.date-block
	// 		background-color #033387
	// 		color white
	// .esli-pozhenilis-znachit-zhit-pridetsya
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (45/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	// .date-block
	// 	// 	background-color #033387
	// 	// 	color white
	// .pominalnaya-molitva
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (60/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	.date-block
	// 		background-color #EADAC1
	// 		color black
	// .kompromiss
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (90/$rem)
	// 			margin-right 0
	// 	.date-block
	// 		background-color #DBA822
	// 		color black
	// .ne-vsyakii-vor-grabitel
	// 	// .title-block
	// 	// 	.author
	// 	// 		fs (24/$rem)
	// 	// 	.title
	// 	// 		fs (90/$rem)
	// 	// 		margin-right 0
	// 	.date-block
	// 		background-color #033387
	// 		color white




	.beda-ot-nezhnogo-serdtsa
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #E62500
			color white

	.brys-ili-istoriya-kota-filofeya
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f73b0f
			color white

	.dachnitsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #D98F1B
			color black

	.durochka
		.title-block
			.title
				fs (60 /$rem)
		.date-block
			background-color #9C1728
			color white

	.ekhala-derevnya-mimo-muzhika
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #0574ce
			color white

	.esli-pozhenilis-znachit-zhit-pridetsya
		.title-block
			.title
				fs (50/$rem)
				line-height 1
				.oa-comma
					margin-right -.21em
		.date-block
			background-color #76000E
			color white

	.karlson
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #f13516
			color white

	.kompromiss
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #E8C450
			color black

	.kot-v-sapogakh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.krepostnaya-lyubov
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.kytsik-mytsik-i-tyotushka-mari
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f13516
			color white

	.les
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #0B3374
			color white

	.marlen-rozhdennaya-dlya-lyubvi
		.title-block
			.title
				fs (56/$rem)
				.oa-comma
					margin-right -.22em
		.date-block
			background-color #a00042
			color white

	.ne-vsyakii-vor-grabitel
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #273683
			color white

	.pominalnaya-molitva
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #FFF5DA
			color black

	.progulka-v-lyu-blyo
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #0947aa
			color white

	.provintsialnye-anekdoty
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #FAE9CF
			color black

	.sirano-de-berzherak
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #e8d6c5
			color black

	.staraya-zaichikha
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #dcc1b5
			color black

	.strasti-po-italyanski
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #CA292B
			color white

	.uchilka-iz-buduschego
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #13b3b5
			color white

	.v-parizh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #1e52a5
			color white

	.volki-i-ovtsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #BB0028
			color white

	.volshebnye-sosulki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #033387
			color white

	.zapisnye-knizhki-trigorina
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #033387
			color white

	.zemlyaki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #151D69
			color white

	.zhenitba
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #1B3971
			color white

// ------
bg-left()
	left 0
	width (36/120)*100%
	// float left
bg-right()
	width (48/120)*100%
	right 0
	// float right
	// clear right
bg-bottom()
	bottom 0
bg-top()
	top 0
bg-mid()
	top 33%

// ------

.page.performance

	.bg-container
		position absolute
		// display table-cell
		// vertical-allign middle
		width 100%
		height 100%
		margin 0
		padding 0

		.bg
			// display table-cell
			// max-width 30%
			// max-height (50/120)*100%
			position absolute
			// float right
			margin 0
			padding 0

			font-size 0
			text-align center

			&:before
				display inline-block
				content ""
				height 100%
				vertical-align middle

			// div
			// 	position relative
			// 	max-height 100%
			// 	max-width 100%
			img
				max-width 100%
				max-height 100%
				display inline-block
				vertical-align middle
				margin auto
				width auto
				height auto

		.bg-1
			width (55/120)*100%
			top 0
			// margin-top -(4/120)*100%
			right 0
			text-align right
			img
				vertical-align top
				// position relative
				// top -10%
		.bg-2
			width (48/120)*100%
			height (45/120)*100%
			bottom (35/120)*100%
			right 0
			text-align right
		.bg-3
			width (48/120)*100%
			right 0
			bottom 0
			text-align right
			img
				vertical-align bottom
		.bg-4
			width (34/120)*100%
			height (40/120)*100%
			left 0
			bottom 0
			text-align left
			img
				vertical-align bottom
		.bg-5
			width (34/120)*100%
			height 100%
			// bottom (35/120)*100%
			left 0
			text-align left
			img
				vertical-align middle
		.bg-6
			width (18/120)*100%
			top 0
			left 0
			text-align left
			img
				vertical-align top



	&.beda-ot-nezhnogo-serdtsa
		.bg-2
			width (50/120)*100%
			height (49/120)*100%
			bottom (38/120)*100%
		.bg-3
			width (50/120)*100%
		.bg-4
			width (34/120)*100%
			height (40/120)*100%
			text-align center

	&.brys-ili-istoriya-kota-filofeya
		.bg-1
			width (65/120)*100%
		.bg-2
			width (43/120)*100%
		.bg-3
			width (49/120)*100%
		.bg-4
			width (35/120)*100%
		.bg-5
			width (34/120)*100%
			height auto
			bottom (48/120)*100%
	&.dachnitsy
		.bg-1
			width (54/120)*100%
		.bg-3
			width (49/120)*100%
		.bg-4
			width (36/120)*100%
			height (40/120)*100%
		.bg-5
			width (36/120)*100%
			height auto
			bottom (37/120)*100%
		.bg-2
			width (48/120)*100%
			height (45/120)*100%
			bottom (37/120)*100%
		.bg-6
			width (17/120)*100%

	// &.durochka
	&.ekhala-derevnya-mimo-muzhika
		.bg-1
			width (51/120)*100%
		.bg-2
			width (56/120)*100%
			bottom (40/120)*100%
		.bg-4
			width (36/120)*100%
		.bg-5
			width (36/120)*100%
	&.esli-pozhenilis-znachit-zhit-pridetsya
		.bg-2
			width (51/120)*100%
			height (45/120)*100%
			bottom (37/120)*100%
		.bg-4
			width (39/120)*100%
			height (40/120)*100%
		.bg-5
			width (34/120)*100%
			height auto
			bottom (35/120)*100%
	&.karlson
		.bg-1
			width (59/120)*100%
			top -(2/120)*100%
		.bg-2
			width (43/120)*100%
			bottom (44/120)*100%
		.bg-3
			bottom -(2/120)*100%
		.bg-5
			height auto
			width (39/120)*100%
			bottom (43/120)*100%

	&.kompromiss
		.bg-1
			width (60/120)*100%
		.bg-5
			width (37/120)*100%
			height auto
			bottom (32/120)*100%
		.bg-3
			width (49/120)*100%
		.bg-4
			width (36/120)*100%
			height (40/120)*100%
		.bg-2
			width (48/120)*100%
			height (50/120)*100%
			bottom (34/120)*100%
	// &.kot-v-sapogakh
	// &.krepostnaya-lyubov
	// &.kytsik-mytsik-i-tyotushka-mari
	// &.les
	&.marlen-rozhdennaya-dlya-lyubvi
		.bg-1
			width (66/120)*100%
			top -(4/120)*100%
		.bg-3
			width (44/120)*100%
		.bg-2
			width (56/120)*100%
			height (45/120)*100%
			bottom (41/120)*100%
		.bg-4
			width (36/120)*100%
			height (40/120)*100%
	&.ne-vsyakii-vor-grabitel
		.bg-1
			width (50/120)*100%
			top (4/120)*100%
		.bg-3
			// width (40/120)*100%
			height (32/120)*100%
			text-align center
		.bg-2
			width (45/120)*100%
			height (40/120)*100%
			bottom (36/120)*100%
		.bg-5
			width (30/120)*100%
			// height (35/120)*100%
			height auto
			bottom (36/120)*100%
		.bg-6
			width (16/120)*100%
		.bg-4
			width (33/120)*100%

	&.pominalnaya-molitva
		.bg-1
			width (52/120)*100%
			top (2/120)*100%
		.bg-2
			width (42/120)*100%
			height (45/120)*100%
			bottom (42/120)*100%
		.bg-5
			width (34/120)*100%
			height (42/120)*100%
			bottom (34/120)*100%
		.bg-6
			width (17/120)*100%

	&.progulka-v-lyu-blyo
		.bg-1
			width (50/120)*100%
			top (4/120)*100%
		.bg-3
			width (50/120)*100%
			bottom -(2/120)*100%
		.bg-4
			width (36/120)*100%
			height (40/120)*100%
			bottom (1/120)*100%
		.bg-5
			width (36/120)*100%
			height (42/120)*100%
			bottom (33/120)*100%
	&.provintsialnye-anekdoty
		.bg-1
			width (65/120)*100%
			top -(2/120)*100%
		.bg-2
			width (55/120)*100%
			height auto
			bottom (42/120)*100%
		.bg-5
			width (55/120)*100%
			height auto
			bottom (48/120)*100%

	// &.sirano-de-berzherak
	// &.staraya-zaichikha
	// &.strasti-po-italyanski
	&.uchilka-iz-buduschego
		.bg-1
			width (66/120)*100%
			top -(3/120)*100%
		.bg-2
			width (46/120)*100%
			height auto
			bottom (43/120)*100%
		.bg-5
			width (35/120)*100%
			height auto
			bottom (45/120)*100%

	&.v-parizh
		.bg-2
			width (48/120)*100%
			height (40/120)*100%
			bottom (40/120)*100%
			text-align center
	&.volki-i-ovtsy
		.bg-1
			width (51/120)*100%
		.bg-4
			width (36/120)*100%
			height (41/120)*100%
		.bg-2
			width (45/120)*100%
			height (45/120)*100%
			bottom (33/120)*100%
		.bg-5
			width (36/120)*100%
	&.volshebnye-sosulki
		.bg-1
			width (57/120)*100%
		.bg-2
			height (50/120)*100%
			width (60/120)*100%
			bottom 0
		.bg-3
			width (35/120)*100%
			left 0
		.bg-4
			bottom (37/120)*100%

	// &.zapisnye-knizhki-trigorina
	&.zemlyaki
		.bg-1
			width (65/120)*100%
			top -(4/120)*100%
		.bg-2
			width (54/120)*100%
			height (45/120)*100%
			bottom (40/120)*100%
		.bg-5
			width (45/120)*100%

	&.zhenitba
		.bg-1
			width (66/120)*100%
			top -(3/120)*100%
		.bg-3
			width (50/120)*100%
		.bg-4
			width (37/120)*100%
			height (40/120)*100%
		.bg-5
			width (43/120)*100%
			height auto
			bottom (32/120)*100%
		.bg-2
			width (54/120)*100%
			height (45/120)*100%
			bottom (37/120)*100%
