/********************************************************************************************************************************************
 *  CUSTOM
 ********************************************************************************************************************************************/
#home #playbill
	// .marlen-rozhdennaya-dlya-lyubvi
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (50/$rem)
	// 			.oa-comma
	// 				margin-right -.32em
	// 	.date-block
	// 		background-color #033387
	// 		color white
	// .esli-pozhenilis-znachit-zhit-pridetsya
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (45/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	// .date-block
	// 	// 	background-color #033387
	// 	// 	color white
	// .pominalnaya-molitva
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (60/$rem)
	// 			.oa-comma
	// 				margin-right -.21em
	// 	.date-block
	// 		background-color #EADAC1
	// 		color black
	// .kompromiss
	// 	.title-block
	// 		.author
	// 			fs (24/$rem)
	// 		.title
	// 			fs (90/$rem)
	// 			margin-right 0
	// 	.date-block
	// 		background-color #DBA822
	// 		color black
	// .ne-vsyakii-vor-grabitel
	// 	// .title-block
	// 	// 	.author
	// 	// 		fs (24/$rem)
	// 	// 	.title
	// 	// 		fs (90/$rem)
	// 	// 		margin-right 0
	// 	.date-block
	// 		background-color #033387
	// 		color white




	.beda-ot-nezhnogo-serdtsa
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.brys-ili-istoriya-kota-filofeya
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f73b0f
			color white

	.dachnitsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #7663a5
			color white

	.durochka
		.title-block
			.title
				fs (60 /$rem)
		.date-block
			background-color #00a585
			color white

	.ekhala-derevnya-mimo-muzhika
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #0574ce
			color white

	.esli-pozhenilis-znachit-zhit-pridetsya
		.title-block
			.title
				fs (50/$rem)
				.oa-comma
					margin-right -.21em
		.date-block
			background-color #991101
			color white

	.karlson
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #f13516
			color white

	.kompromiss
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #cf9b23
			color black

	.kot-v-sapogakh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.krepostnaya-lyubov
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #00a585
			color white

	.kytsik-mytsik-i-tyotushka-mari
		.title-block
			.title
				fs (50/$rem)
		.date-block
			background-color #f13516
			color white

	.les
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #008451
			color white

	.marlen-rozhdennaya-dlya-lyubvi
		.title-block
			.title
				fs (56/$rem)
				.oa-comma
					margin-right -.22em
		.date-block
			background-color #a00042
			color white

	.ne-vsyakii-vor-grabitel
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #0947aa
			color white

	.pominalnaya-molitva
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #e8d6c5
			color black

	.progulka-v-lyu-blyo
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #0947aa
			color white

	.provintsialnye-anekdoty
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #dcc1b5
			color black

	.sirano-de-berzherak
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #e8d6c5
			color black

	.staraya-zaichikha
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #dcc1b5
			color black

	.strasti-po-italyanski
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #c73115
			color white

	.uchilka-iz-buduschego
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #13b3b5
			color white

	.v-parizh
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #1e52a5
			color white

	.volki-i-ovtsy
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #7abcb1
			color black

	.volshebnye-sosulki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #033387
			color white

	.zapisnye-knizhki-trigorina
		.title-block
			.title
				fs (56/$rem)
		.date-block
			background-color #033387
			color white

	.zemlyaki
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #b82117
			color white

	.zhenitba
		.title-block
			.title
				fs (60/$rem)
		.date-block
			background-color #b82117
			color white


#performance-page
	&.kompromiss
		$h = 100%/2700
		$w = 100%/1920
		background url('../images/covers/kompromiss_01.png') no-repeat,
		url('../images/covers/kompromiss_02.png') no-repeat,
		url('../images/covers/kompromiss_03.png') no-repeat,
		url('../images/covers/kompromiss_05.png') no-repeat,
		url('../images/covers/kompromiss_04.png') no-repeat
		// url('../images/covers/kompromiss_06.png') no-repeat
		background-position 100% 150*$h, 0% 1200*$h, 100% 1400*$h, 0% 2400*$h, 100% 2400*$h 
		background-size 1000*$w auto, 578*$w, 627*$w, 500*$w, 650*$w
		
		margin-bottom -360px

	&.marlen-rozhdennaya-dlya-lyubvi
		margin-top -136px
		$h = 100%/2700
		$w = 100%/1920
		
		background url('../images/covers/marlen_07.png') no-repeat
		// url('../images/covers/marlen_01.png') no-repeat,
		// url('../images/covers/marlen_06.png') no-repeat,
		// url('../images/covers/marlen_05.png') no-repeat,
		// url('../images/covers/marlen_04.png') no-repeat,
		// url('../images/covers/marlen_03.png') no-repeat,
		// url('../images/covers/marlen_02.png') no-repeat,
		background-position 100% 0
		background-size 900*$w


		.container
			margin-top 136px