/********************************************************************************************************************************************
 *  GENERAL
 ********************************************************************************************************************************************/

//
// BOX-SIZING reset
//
// box-sizing-reset()
// *
// 	-webkit-transition: top 500ms ease 500s;

html, body
	height 100%
	width 100%
	position relative

body
	background-color $body_color
	color $text_color

	height 100%

	fs (16/$rem)
	main_font()

	min-width 1200px

#page
	padding 0
	background-color $page_color

	position relative

	// min-width 1280px

	background url('../images/bg.jpg')
	@media screen and (max-width: 480px)
		background #000000
	background-size 100% auto
	background-position top center

container()
	position relative
	max-width (82+9+9)*16px
	// max-width 1200px

	// width (82/120)*100%
	// margin-left (19/120)*100%

	// @media screen and (max-width: 1440px)
	// 	width (72/85)*100%
	// 	margin-left (7/85)*100%
	// @media screen and (max-width: 480px)
	// 	width (26/30)*100%
	// 	margin-left (2/30)*100%


	margin 0 auto
	// padding 0 (5/120)*100%
	cf()

.container
	container()
	& > .wrap
		margin 0 (9/(82+9+9))*100%
		@media screen and (max-width: 1440px)
			margin 0 (9/85)*100%



.wrap
	position relative



 .buy-popup
 	display none
	width 100%
	min-height 100%
	background-color rgba(0,0,0,0.8)
	overflow hidden
	position fixed
	top 0

	z-index 9999

	.buy-popup-content
		position relative
		margin 13em auto 0 auto
		width 500px
		height 250px
		text-align center
		box-shadow 0 0 10px #000
	.header
		second_font()
		fs (36/$rem)
		line-height (50/36)
		margin-bottom 2em

	.sponsor
		margin-top 1em
		&:hover
			transform scale(1.1)
		a
			display block

	.close
		position absolute
		display block
		top 0
		right 0
		width 44px
		height 44px

		transform scale(1.5)

		background-image url('../images/default.svg')
		background-position 0 -44px

		pointer-events pointer

		&:hover
			transform scale(2)
			cursor pointer
