/********************************************************************************************************************************************
 *  GENERAL
 ********************************************************************************************************************************************/

//
// BOX-SIZING reset
//
// box-sizing-reset()


body
	background-color $body_color
	color $text_color

	fs (16/$rem)
	main_font()

#page
	padding 0
	background-color $page_color

	position relative

	// min-width 1280px

	background url('../images/bg.jpg')
	background-size 100% auto
	background-position top center

container()
	position relative
	// max-width 1312px
	// max-width 1200px

	width (82/120)*100%

	margin 0 auto
	padding 0 (5/120)*100%
	cf()

.container
	container()

.wrap
	position relative




@media screen and (max-width: 1382px)
	.container
		// max-width 1024px
		padding 0 (2/120)*100%
@media screen and (max-width: 1433px)
	.container
		// max-width 1024px
		padding 0 (3/120)*100%
// @media screen and (max-width: 1199px)
// 	.container
// 		max-width 900px
