.descriptor
	height (75/16)rem

	@media screen and (max-width: 1370px)
		height (50/16)rem
	@media screen and (max-width: 480px)
		display none


	.items
		text-transform uppercase

		font-size 0
		text-align justify
		&:after
			content ""
			display inline-block
			width 100%


	.item
		display inline-block
		fs (14/$rem)
		@media screen and (max-width: 1370px)
			fs (16/$rem)

		margin 0
		padding 0

		color $gray_color


	.text, .search
		padding-top 1.5em
		@media screen and (max-width: 1370px)
			padding-top 1.6em

	.search
		font-size 0
		// padding 0
		background-color rgba(white,.1)
		position relative
		top 2px

		a
			display inline-block
			// top .07em
			width 1.2em
			padding .5em

			text-align center
			fs(20/$rem)
			color $brand_color
			color $text_color
			&:hover
				color $text_color
		&:hover
			background-color $brand_color_hover
			// position relative
			// top -0.3em
			// margin-left (-.3em)
			// font-size 20px

	.social-top
		font-size 0

		a
			position relative
			display inline-block

			padding .6em
			width 1.2em

			text-align center
			color $text_color
			fs(14/$rem)

			&:hover
				background-color $brand_color_hover
				outline-color $brand_color_hover
				z-index 2000

			&.vk:hover
				background-color $vk_color
				outline-color $vk_color
			&.facebook:hover
				background-color $facebook_color
				outline-color $facebook_color
			&.google-plus
				display none
			&.google-plus:hover
				background-color $google-plus_color
				outline-color $google-plus_color
			&.youtube:hover
				background-color $youtube_color
				outline-color $youtube_color
			&.vimeo:hover
				background-color $vimeo_color
				outline-color $vimeo_color
			&.twitter:hover
				background-color $twitter_color
				outline-color $twitter_color
			&.rss:hover
				background-color $rss_color
				outline-color $rss_color


		// @media screen and (max-width: 1200px)
		// 	display none

	@media screen and (max-width: 1370px)
		.company
			display none
		.items
			text-align right
			.item
				padding-right 1em
			.search
				padding-right 0
			// &:after
			// 	content ""
			// 	display inline-block
			// 	width 100%