/********************************************************************************************************************************************
 *  DIRECTORS WORD
 ********************************************************************************************************************************************/
#home #directors-word
	position relative

	background #0e0204
	background url('../images/directors_word.jpg') no-repeat #0e0204
	background-position top right
	background-size auto 100%

	margin-bottom -32px

	h2
		fs (33/$rem)

	h2, h3
		second_font()
		text-transform uppercase
		font-weight normal
	h3
		text-transform none

	.wrap
		padding 48px 0

	.content
		second_font()
		width (36/82)*100%
		margin-left (2.5/82)*100%

		// margin-bottom (2/82)*100%

		fs (20/$rem)


		&:before
			content "«"

			position absolute
			right (81/82)*100%
			top 1.94em

			fs (100/$rem)
			line-height .5em
			color $gray_color
			second_font()
			opacity .5

		&:after
			content "»"

			position relative
			left (83.5/82)*100%
			bottom 1.855em

			fs (100/$rem)
			line-height .5em
			color $gray_color
			second_font()
			opacity .5