/********************************************************************************************************************************************
 *  NEWSFEED
 ********************************************************************************************************************************************/
#home #newsfeed

	margin-top (6/120)*100%
	margin-bottom (6/120)*100%
	position relative
	top -6px // TODO: Rewrite!

	.container
		max-width 1344px

	.section-header
		color #820028
		margin 0
		margin-bottom (2/84)*100%
		margin-left (1/84)*100%
		a
			color inherit

	.post-list

		.news

			&:before
				content ""
				display block
				margin-bottom (40/26)*100%

			position relative
			background-color #7A001D
			width (26/84)*100%
			// height (40/84)*100%

			margin 0 (1/84)*100% (4/84)*100%

			float: left

		.featured
			position absolute
			top 0
			height (16/40)*100%
			overflow hidden
			img
				display block

		.entry-content
			position absolute
			top (16/40)*100%
			margin 0
			padding 0 (2.5/26)*100%
			height (16/40)*100%
			overflow hidden

		h3
			second_font()
			line-height 1.25em
			a
				text-decoration none
		.excerpt
			// position absolute
			// top (18/40)*100%
			// background-color white
		.link
			display block
			position absolute
			bottom (5/40)*100%
			left (2.5/26)*100%
			border-bottom solid 1px
			// margin 0 (2.5/26)*100%
			fs (18/$rem)
			text-decoration none
		.meta
			position absolute
			bottom (1/40)*100%
			left (2.5/26)*100%
			// padding 0 (2.5/26)*100%
			.views
				margin-left .5em
		.info
			position absolute
			bottom (1/40)*100%
			right (2.5/26)*100%
			// padding 0 (2.5/26)*100%


	.newsArchive-link
		// position relative
		margin-left (3.5/84)*100%
		fs (26/$rem)
		a
			text-decoration none
			border-bottom 1px solid
	// .news

	// 	second_font()
	// 	fs (18/$rem)
	// 	line-height 1.6em

	// 	height (28/82)*100%
	// 	background-color #820028
	// 	margin-bottom 1.6em

	// 	padding .8em

	// 	overflow hidden

	// 	.article-header
	// 		article-header-large()

	// 		fs (2.3rem)
	// 		line-height 1.1em

	// 		width 45%
	// 		position relative
	// 		left 50%

	// 	.entry-content

	// 		width 45%
	// 		height 3*$mod
	// 		position relative
	// 		left 50%

	// 		overflow hidden

	// 		img
	// 			display none