/********************************************************************************************************************************************
 *  PRESS PAGE
 ********************************************************************************************************************************************/
#press-page
	background-size cover
	position relative

	.content
		position relative

		padding-left (17/82)*100%
		margin-top (5/82)*100%
		margin-bottom (16/82)*100%

		width (55/82)*100%

		fs (18/$rem)
		line-height (23/$rem)


		h1, h2, h3, h4, h4, h5
			font-weight normal