/********************************************************************************************************************************************
 *  PRESS PAGE
 ********************************************************************************************************************************************/
#troupe-page
	background-size cover

	.nav-submenu
		top 10em

	.content
		padding-left (17/82)*100%
		margin-top (6/82)*100%
		margin-bottom (16/82)*100%

		// width (38/82)*100%
		&:after
			content ""
			display block
			clear both

	.section
		position relative
		// margin-top (5/82)*100%
		// width (67/82)*100%
		// margin-left (16/82)*100%

		display none

		&.active
			display block

	.person
		width ((57/5)/67)*100%
		padding 0 (1/67)*100%

		float left

		fs (14/$rem)

		margin-bottom (8/67)*100%

		position relative

		p
			margin 0
			padding 0

		.portret
			padding-bottom 100%
			overflow hidden
			background-color $brand_color_dark *.2
			position relative

			color black

			img
				width 100%
				height auto
				position absolute

				border none
				border-image none

		.caption
			position absolute
			width 100%
			text-align left
			margin-top 1em
			fs (18/$rem)

			a
				text-decoration none

		.grade
			color $gray_color

		&.director

			center(30%)
			clear right

			.portret
				height auto


	#hudozhestvennyj-rukovoditel
		img
			float left
			width (30/65) *100%
			// width 496px
			height auto
			margin-right (3/65)*100%
			margin-bottom (8/65)*100%

		h2
			fs (37/$rem)
			text-transform uppercase
			position relative
			top -.45em

		.role
			color $brand_color
			fs (26/$rem)
		.bio
			fs (20/$rem)