/********************************************************************************************************************************************
 *  PERFORMANCE PAGE
 ********************************************************************************************************************************************/
#performance-page
	background-size cover
	position relative

	.content
		position relative

		padding-left (17/82)*100%
		margin-top (6/82)*100%
		margin-bottom (16/82)*100%

		top -25px

		width (35/82)*100%

		.author
			fs (22/$rem)
			second_font()
			font-style italic

		.title
			header()
			font-weight normal
			fs (40/$rem)
			line-height (48/40em)

		.description
			second_font()
			fs (22/$rem)
			font-style italic
			color $brand_color_bright
			margin-top 2*(16/22em)

			max-width (25/35)*100%

		.about
			margin-top 1.5em
			fs (18/$rem)
			line-height (23/18em)

			max-width (32/35)*100%

		.add
			position absolute
			width (25/52)*100%
			height 4em
			top 19px
			left (57/52)*100%

			font-size (14/$rem)
			line-height (22/14em)

			.premiere-date, .duration
				position absolute
				display block
				margin 0
				// width (10/20)*100%
				border-top 1px solid $brand_color
			.duration
				left (11/25)*100%
				// right 0
				// width (17/38)*100%


		h1, h2, h3, h4, h5, h6
			color $brand_color

		h4
			text-transform uppercase
			fs (16/$rem)
			font-weight 400
			margin-top 3em

		dl
			cf()
			display block
			margin 0
			padding 0
		dt
			float left
			clear left
			margin 0
			padding 0
			&:after
				content " — "
		dd
			margin 0
			padding 0

		.creators, .roles
			fs (16/$rem)
			line-height (23/16em)

		ul, li
			margin 0
			padding 0
		li
			list-style none
			margin-bottom 1.5em

		.video
			margin-top 2em


		.gallery
			margin-top 2em
			.gallery-item
				display inline-block
				margin 3px
				padding 0
				width 177px

				text-align center

				position relative
				overflow hidden

				a
					position relative
					display inline-block
					right -50%

				img
					height 177px
					width auto
					// max-width 100%
					// max-height 100%
					max-width inherit
					// display block

					// margin-left auto
					// margin-right auto

					position relative

					left -50%
					// margin-left (-265/2px)

					// position absolute
					// top -9999px
					// bottom -9999px
					// left -9999px
					// right -9999px
					// margin auto


		&.kompromiss
			.title
				fs (56/$rem)

			.title, h1, h2, h3, h4, h5, h6, .author
				color #E59E2C

			.premiere-date, .duration
				border-color #E59E2C