/********************************************************************************************************************************************
 *  REPERTOIRE PAGE
 ********************************************************************************************************************************************/
.page.repertoire

	.performance
		position relative
		margin-bottom 4*16px
		margin-right 4*16px
		height 20*16px
		@media screen and (max-width: 1440px)
			height 18*16px
		// &:before
		// 	content ""
		// 	display block
		// 	// padding-bottom (20/65)*100%
		// 	padding-bottom 20*16px
		// 	@media screen and (max-width: 1440px)
		// 		// padding-bottom (16/72)*100%
		// 		padding-bottom 16*16px

	.repertoire-cover
		z-index 10
		position absolute
		top 0
		left 0
		display block
		background-size cover !important

		// width (30/65)*100%
		width 30*16px
		@media screen and (max-width: 1440px)
		// 	width (24/72)*100%
			width 24*18px

		&:before
			content ""
			display block
			padding-bottom (16/24)*100%

	.title-block, .synopsis, .performance-link
		position absolute
		left 0
		right 0
		// width (30/65)*100%
		// width 100%
		// left (33/65)*100%
		padding-left 33*16px
		@media screen and (max-width: 1440px)
		// 	// width (35/72)*100%
		// 	// left (28/72)*100%
			padding-left 30*16px
	.title-block
		top -.75em
		.title
			margin-bottom .4em
			fs 28px
			line-height (31/28)
			color $brand_color
			second_font()
			a
				text-decoration none
				&:hover
					color $brand_color_bright
		.author
			margin-bottom .4em
			white-space nowrap
		.description
			second_font()
			italic()
			white-space nowrap

		.rate
			main_font()
			color $text_color
			position absolute
			top .1em
			right -4*16px
			// left 100%
			// margin-left 1em
			fs 24px
			font-weight 200

	.synopsis
		// top (7/20)*100%
		top 7*16px
		fs 16px
		line-height (22/16)
		trim_elipsis(6)
		@media screen and (max-width: 1440px)
			// top (6/16)*100%
			top 6*16px
			fs 15px
			line-height (21/15)
			trim_elipsis(7)
		@media screen and (max-width: 1280px)
			top 7*16px
			trim_elipsis(6)

	.performance-link
		// bottom -.2em
		bottom 0
		a
			color $brand_color_dark
			text-decoration none
			border-bottom 1px solid
			&:hover
				color $brand_color_bright
	// $width = 65

	// .performance
	// 	position relative
	// 	cf()
	// 	margin-bottom (4/$width)*100%

	// .title-block, .synopsis
	// 	margin-left (31/$width)*100%

	// .title-block
	// 	position relative
	// 	top -1em
	// 	.title
	// 		margin-bottom .2em
	// 		second_font()
	// 		fs (28/$rem)
	// 		font-weight normal
	// 		a
	// 			color $brand_color
	// 			text-decoration none
	// 			&:hover
	// 				color $brand_color_bright
	// 				border none
	// 	.author
	// 		fs (16/$rem)
	// 		line-height 2em
	// 	.description
	// 		fs (14/$rem)
	// 		line-height 1.5em
	// 		second_font()
	// 		font-style italic

	// 	.rate
	// 		main_font()
	// 		position absolute
	// 		top .2em
	// 		margin-left 1em
	// 		fs (24/$rem)
	// 		font-weight 200
	// .synopsis
	// 	width (29/$width)*100%
	// 	height (7em*1.5)
	// 	fs (14/$rem)
	// 	line-height 1.5em

	// trim_elipsis(7)

	// 	p
	// 		margin 0

	// .performance-link
	// 	position absolute
	// 	bottom 1px
	// 	left (31/$width)*100%
	// 	a
	// 		color $brand_color_dark
	// 		text-decoration none
	// 		border-bottom 1px solid
	// 		&:hover
	// 			color $brand_color_bright

	// .repertoire-cover
	// 	display block
	// 	width (29/$width)*100%
	// 	float left
	// 	background-color $brand_color_dark - 50% !important
	// 	background-size cover !important

	// 	&:before
	// 		content ""
	// 		display block
	// 		padding-top (20/29)*100%

	// @media screen and (max-width: 1440px)
	// 	.title-block
	// 		position absolute
	// 		margin 0
	// 		width 100%
	// 		left 0
	// 	.playbill
	// 		position relative
	// 		margin-top (4/$width)*100%
	// 	.synopsis
	// 		margin-top (4/$width)*100%
