/********************************************************************************************************************************************
 *  NEWS PAGE
 ********************************************************************************************************************************************/
// #news-page
// 	position relative

// 	.content, .post-list
// 		padding-left (17/82)*100%
// 		margin-top (5/82)*100%
// 		margin-bottom (16/82)*100%

// 		width (48/82)*100%