/********************************************************************************************************************************************
 *  PERSON PAGE
 ********************************************************************************************************************************************/
.page.person

	.title
		header()
		fs (35/$rem)


	h2, h3, h4, h5, h6
		color $brand_color

	h4
		text-transform uppercase
		fs (16/$rem)
		font-weight 400
		margin-top 3em

	dl
		cf()
		display block
		margin 0
		padding 0
	dt
		display inline
		// float left
		// clear left
		margin 0
		padding 0
		&:after
			content " — "
	dd
		display inline
		margin 0
		padding 0
		&:after
			content ""
			display block

	.portrait
		float left
		margin-right 3em
		margin-top .7em

	.container
		margin-left 235px

	ul, li
		margin 0
		padding 0
	li
		list-style none
		// margin-bottom 1.5em

	.press
		li:before
			content "– "

	.press-list
		margin-bottom 1.5em