/********************************************************************************************************************************************
 *  PAGES
 ********************************************************************************************************************************************/
.page

	margin-top (4/120)*100%
	margin-bottom (6/120)*100%

	min-height 640px

	.content
		position relative


	&.side-menu
		.content
			margin-left (17/82)*100%

@media screen and (max-width: 1440px)
	.page
		margin-top (5/85)*100%
		&.side-menu
			.content
				margin-left 0

@media screen and (max-width: 480px)
	// width (24/30)*100%
	// margin-left (3/30)*100%

	.page
		margin-top (5/30)*100%
		&.side-menu
			.content
				margin-left 0
		// padding-left (17/82)*100%
		// margin-top (4/82)*100%
		// margin-bottom (16/82)*100%

		// width (38/82)*100%

	// .secondary-navigation
	// 	width (12/82)*100%
	// 	li
	// 		margin-bottom 1.8em

