/********************************************************************************************************************************************
 *  PLAYBILL PAGE
 ********************************************************************************************************************************************/
#playbill-page
	position relative
	height 2980px
	// background-size cover
	$w = 100%/1920
	// $p = 100%

	background url('../images/covers/afisha_anecdot.png') no-repeat,
	url('../images/covers/afisha_marlen.png') no-repeat,
	url('../images/covers/afisha_kompromiss.png') no-repeat,
	url('../images/covers/afisha_vor.png') no-repeat,
	url('../images/covers/afisha_pom_mol.png') no-repeat,
	url('../images/covers/afisha_sos.png') no-repeat
	background-position 100% 150*$w,
	0% 380*$w,
	100% 850*$w,
	0% 1250*$w,
	96% 100%,
	0% 100%
	background-size 40% auto,
	683*$w auto,
	560*$w auto,
	621*$w auto,
	670*$w auto,
	665*$w auto

	position relative
	top -6px
	margin-top -(8/120)*100%
	padding-top (9/120)*100%

	margin-bottom -(9/120)*100%

	.nav-menu-item, li
		margin-bottom .5em

	.content
		position relative
		margin-bottom (16/82)*100%

		top -11px

		// padding-bottom (1/82)*100%

	.section
		position relative
		margin-top (5/82)*100%
		width (53/82)*100%
		margin-left (17/82)*100%

		display none // For JS

		&.active
			display block // For JS

		h3
			fs (40/$rem)
			margin-top 1.5em

	.performance
		margin-bottom 2.5em

		.date
			color $brand_color
			second_font()
			&:after
				content ' '

			&.day
				font-weight bold
				fs (24/$rem)
			&.weekday
				fs (24/$rem)

		.date-block, .title-block, .other, .meta
			display inline-block

		.date-block
			width 4em
		.title-block
			position relative
			// max-width (55%)
			.title
				text-transform uppercase
				// letter-spacing 0.05em
				fs(22/$rem)
				a
					link $text_color
					text-decoration none
					border none
					&:hover
						border none
						text-decoration none
						color $brand_color
			.author
				position absolute
				top 100%
				left 0

				fs (22/$rem)
				color $gray_color

				white-space nowrap
		.other
			.rate
				second_font()
				fs(22/$rem)
				color $brand_color - 25%
				margin-left 1em
		.meta
			margin-left 1em
			opacity 0
			// color $gray_color

			transition all 0.3s ease-out

			position absolute

			fs(18/$rem)

			.duration, .start-time
				white-space nowrap
				&:after
					content ' '

		&:hover
			.meta
				opacity 1
				transition all 1s ease