/********************************************************************************************************************************************
 *  PERFORMANCE PAGE
 ********************************************************************************************************************************************/
.page.performance
	position relative
	margin-bottom 12*16px

	z-index 10

	@media screen and (max-width: 480px)
		margin-bottom 8*16px

	.content
		// width (35/82)*100%
		// margin-left (17/82)*100%
		width 35*16px
		margin-left 17*16px

		@media screen and (max-width: 1440px)
			// width (35/67)*100%
			width 35*16px
			margin-left 0

		@media screen and (max-width: 480px)
			width 100%

	.author
		fs 22px
		second_font()
		font-style italic
		margin-top .8em

	.title
		position relative
		header()
		font-weight normal
		fs 40px
		line-height (48/40)

		.buy-button
			display none
			@media screen and (max-width: 1440px)
				display block
				width 10em
				margin 0
				padding 1em .5em
				position absolute
				top 0
				left 100%
				fs 14px


	.description
		color $brand_color_bright
		second_font()
		fs 17px
		font-style italic
		font-weight 100
		margin-top .2em

		max-width (25/35)*100%

		&.alone
			color $brand_color_bright

	.about
		margin-top 1.7em
		fs 18px
		line-height (23/18)

		max-width (32/35)*100%
		@media screen and (max-width: 1440px)
			fs 17px
			line-height (22/17)

	.premiere-date, .duration
		position absolute
		display block
		margin 0
		fs 14px

	.duration
		top 100%
		margin-top 2*16px
		right 0
	.premiere-date
		top 100%
		left 0
		margin-top 2*16px


	.earliest-block
		display block

		@media screen and (max-width: 1440px)
			display none

		margin 0
		padding 0

		width (10/82)*100%

		position absolute
		left 0
		top 0
		margin-top 10*16px

		h5
			text-transform uppercase
			color $text_color
			margin-bottom 1.5em


		.day
			fs 154px
			line-height (96/154)
			second_font()
			bold()
			position relative
			left -.04em
			&.num-11,
			&.num-12,
			&.num-13,
			&.num-14,
			&.num-15,
			&.num-16,
			&.num-17,
			&.num-18,
			&.num-19
				left -.1em

		.month
			fs 35px
			line-height 1
			margin-top .6em
			second_font()
			normal()
			text-transform uppercase
		.weekday
			fs 18px
			second_font()
			margin-top .35em
			text-transform uppercase
		.header
			second_font()
			margin .5em 0

	.buy-button
		second_font()
		width 100%
		margin-top 1em
		text-align center
		padding 1em .2em
		text-transform uppercase
		background rgba(white,.1)
		a
			text-decoration none
			&:hover
				color $text_color
				text-decoration none
				border none

		&:hover
			background $brand_color
			cursor pointer


	h1, h2, h3, h4, h5, h6
		color $brand_color

	h4
		text-transform uppercase
		fs 16px
		font-weight 400
		margin-top 1.8em
		margin-bottom .1em

	h5
		font-weight 300
		color $brand_color_dark
		margin-bottom .2em
		margin-bottom 0
		margin-top .2em

	dl
		cf()
		display block
		margin 0
		padding 0
	dt
		display inline
		margin 0
		padding 0
		&:after
			content " — "
	dd
		display inline
		margin 0
		padding 0
		&:after
			content: " "
			display block

	.creators, .roles
		fs 16px
		line-height (23/16)

	ul, li
		margin 0
		padding 0
	li
		list-style none

	.press-list
		margin-bottom 1.5em


	.video
		margin-top 1em
	.video-title, .gallery-title
		fs 18px
		color $text_color
		text-transform none




	.gallery
		position relative

		margin-top 2em

		$c = 560
		$m = 25
		$cnt = 3

		width (($c + $m)/$c)*100%
		margin-bottom -($m/($c + $m))*100%

		font-size 0

		.gallery-item
			display inline-block
			position relative

			width ((($c + $m) - ($cnt*$m))/$cnt/($c + $m))*100%
			margin 0 ($m/($c + $m))*100% ($m/($c + $m))*100% 0

			padding 0


			overflow hidden

			font-size 0
			transition all 1s ease-out .5s

			&:before
				content ""
				font-size 0
				display block
				width 100%
				padding-bottom 100%
			&:hover
				transform scale(1.15)
				transition all 1s ease-out .5s
			a
				position absolute
				top 0
				width 100%
				height 100%
				display block

			img
				position relative
				opacity 0
