/********************************************************************************************************************************************
 *  ABOUT PAGEs
 ********************************************************************************************************************************************/
#about-page
	background-size cover

	margin-bottom -(9/120)*100%

	.content
		padding-left (17/82)*100%
		margin-top (8/82)*100%
		// margin-bottom (16/82)*100%

		// width (54/82)*100%

		&:after
			content ""
			display block
			clear both

	.section
		position relative

		display none

		&.active
			display block

	#hudozhestvennyj-rukovoditel
		img
			float left
			width (30/65) *100%
			// width 496px
			height auto
			margin-right (3/65)*100%
			margin-bottom (8/65)*100%

		h2
			fs (37/$rem)
			text-transform uppercase
			position relative
			top -.45em
			margin-bottom 0

		.role
			second_font()
			color $brand_color
			fs (26/$rem)
			margin-top 0
		.bio
			fs (20/$rem)

	#istoriya-teatra
		cf()
		margin-bottom (16/65)*100%
		// width (47/65)*100%
		fs (17/$rem)
		// margin-bottom 100%
		h2
			position relative
			top -.46em
			margin 0
			fs (80/$rem)
			// line-height 128px
			font-weight normal
			white-space nowrap

		p
			margin 0

		p+p
			margin-top 1.5em

		.p1
			position relative
			// padding-right (35/65)*100%
			margin-bottom (2/65)*100%
			cf()


		.img1
			display block
			position relative
			// top .35em
			float right
			// height 100%
			width (31/65)*100%
			padding-bottom (24/65)*100%
			margin-left (4/65)*100%

			background-image url('/themes/komedianty/content/pages/about/troupe_1984.jpg')
			background-position center
			background-size cover
			background-repeat no-repeat

		.p2
			position relative
			width 100%
			margin-bottom (2/65)*100%

		.img2
			width (31/65)*100%
			padding-bottom (21/65)*100%
			background-image url('/themes/komedianty/content/pages/about/graph-nulin_01.jpg')
			background-position center
			background-size cover
			background-repeat no-repeat
			float right
		.img3
			width (32/65)*100%
			padding-bottom (21/65)*100%
			background-image url('/themes/komedianty/content/pages/about/graph-nulin_02.jpg')
			background-position center
			background-size cover
			background-repeat no-repeat

		.caption
			fs(13/$rem)
			color $gray_color

		.caption2
			text-align right
			position absolute
			top 0
			right 0
		.caption3
			text-align right
			position absolute
			top 0
			right 0
			width (11/31)*100%

		.img4
			position relative
			padding-bottom (17/32)*100%
			margin-bottom (2/32)*100%
			background-image url('/themes/komedianty/content/pages/about/about_04.jpg')
			// width (32/65)*100%
			background-position 100% 50%
			background-size contain
			background-repeat no-repeat
			// float left

		.journal-link
			position absolute
			right (12/32)*100%
			top 0
			width (8/32)*100%
			text-align right
			fs (14/$rem)
			border-bottom 1px solid
			padding-bottom 1em

		.img5
			position relative
			// width (32/65)*100%
			padding-bottom (20/32)*100%
			background-image url('/themes/komedianty/content/pages/about/zhenitba_1985.jpg')
			background-position center
			background-size cover
			background-repeat no-repeat
			// float left

		.img6
			position relative
			top .5em
			width (14/31)*100%
			padding-bottom (8/31)*100%
			background-image url('/themes/komedianty/content/pages/about/visitting-card-old.png')
			background-position center
			background-size cover
			background-repeat no-repeat
			// float left

		.p3
			.col
				width (32/65)*100%
				float left
			.col + .col
				margin-left (2/65)*100%
				width (31/65)*100%


		.ps
			clear both
			padding-top (2/65)*100%
			margin-left (34/65)*100%
			color $brand_color_dark
			border-bottom 1px solid





	#troupe
		position relative
		padding-bottom 113%
		width 240%
		left -68%
		// height 50%

		background url('../images/troupe2015.png') no-repeat
		background-size 100% auto
		background-position top center

		// &:after
		// 	content "Труппа 2015"
		// 	display block
		// 	position absolute

		// 	bottom 0
		// 	right 10em

		// 	fs (24/$rem)


