/********************************************************************************************************************************************
 *  PRESS ARCHIVE PAGE
 ********************************************************************************************************************************************/
#press-archive-page
	background-size cover
	position relative

	.content
		position relative

		padding-left (17/82)*100%
		margin-top (5/82)*100%
		margin-bottom (16/82)*100%

		width (65/82)*100%

	h2
		second_font()
		color $brand_color

	.post
		margin-bottom 2.5em

		cf()

		.title-block
			width (16/65)*100%
			float left

			.source
				header()
				text-transform none

			.source-author
				second_font()
				color $gray_color
				fs (20/$rem)


		.content-block
			margin-left (19/65)*100%
			// width (19/65)*100%

			.title
				a
					header()
					text-transform none
					color $brand_color

					fs (40/$rem)

					text-decoration none

		// .date-block, .title-block
		// 	display inline-block

		// .title-block
		// 	.title
		// 		text-transform uppercase
		// 		letter-spacing 0.05em
		// 		a
		// 			link $text_color
		// 			text-decoration none
		// 			border none
		// 			&:hover
		// 				border none
		// 				text-decoration none
		// 				color $brand_color

		// .meta-block
		// 	fs (13/16)rem
		// 	color $gray_color