/********************************************************************************************************************************************
 *  PERSON PAGE
 ********************************************************************************************************************************************/
#person-page
	background-size cover
	position relative

	.content
		position relative

		padding-left (17/82)*100%
		margin-top (5/82)*100%
		margin-bottom (16/82)*100%

		width (38/82)*100%
		min-height 1000px

		.title
			header()
			fs (35/$rem)


		.title, h1, h2, h3, h4, h5, h6, dt
			color $brand_color

		dl
			cf()
			display block
			margin 0
			padding 0
		dt
			float left
			clear left
			margin 0
			padding 0
			&:after
				content ": "
		dd
			margin 0
			padding 0