/********************************************************************************************************************************************
 *  SECONDARY NAVIGATION
 ********************************************************************************************************************************************/

.secondary-navigation
	position absolute
	width (11/82)*100%

	top -6px

	z-index 200

	text-transform uppercase
	ul, li
		margin 0
		padding 0
		list-style none

	.nav-menu-item, li
		margin-bottom .4em
		margin-bottom .7em
		margin-bottom 2.7em
		a
			color $brand_color_dark
			text-decoration none
			border none

			line-height 1.25em

			opacity .75

			&:hover
				color $brand_color
				&:hover
					border none
		&.active
			& > a
				// color $brand_color
				// font-weight bold

				opacity 1

			.nav-submenu
				display block

	.nav-submenu
		display none

		position absolute

		top 13em


		text-transform none
		// margin-left 1em

		// second_font()
		font-weight normal
		fs (14/$rem)

		.nav-submenu-item
			color $text_color
			margin .4em 0
			a
				color inherit
				&:hover
					color $brand_color
					.author
						color $brand_color
			.title
				// fs (14/$rem)
				line-height 1.2em
			.author
				color #C67777
				// fs (13/$rem)
				line-height 1.2em
			&.active
				// margin-left 1em
				// color $brand_color

				display none

				& > a
					position relative
					left -16px