/********************************************************************************************************************************************
 *  BASE TYPOGRAPHY
 ********************************************************************************************************************************************/


// HEADINGS
h1
	h1()
	second_font()
h2
	h2()
	second_font()
h3
	h3()
	second_font()
h4
	h4()
h5
	h5()
h6
	h6()

// PRE & CODE
pre
	pre()
	color black
code
	code()

// QUOTES
blockquote
	blockquote()

// IMG
img
	max-width 100%


// ANCHORS
a
	color inherit
	&:hover
		color $brand_color
		transition color ease-out .3s

// NOWRAP
.nowrap
	white-space nowrap
	&:after, &:before
		content " "
		white-space normal

// HEADERS
header()
	color $text_color
	font-weight normal
	second_font()

	fs 1.75rem

	text-transform uppercase
	// letter-spacing 0.15em

	a
		color $text_color
		text-decoration none
		border none

		link $text_color 'underline'

main_header()
	color $brand_color_dark
	font-weight bold
	second_font()

	fs (40/$rem)

	// text-transform uppercase
	// letter-spacing 0.15em

	a
		color $brand_color_dark
		text-decoration none
		border none

		&:hover
			color $brand_color

.section-header
	main_header()
	font-weight normal


article-header-large()
	header()
	color $text_color
	fs 1.625rem



// Optical Align
.typograf-nowrap
	white-space: nowrap
.typograf-oa-sp-lbracket
	margin-right: 0.3em
.typograf-oa-lbracket,
.typograf-oa-n-lbracket
	margin-left: -0.3em
.typograf-oa-comma
	margin-right: -0.2em
.typograf-oa-comma-sp
	margin-left: 0.2em
.typograf-oa-sp-lquot
	margin-right: 0.44em
.typograf-oa-lquot,
.typograf-oa-n-lquot
	margin-left: -0.44em
