// ********************************************************************************************************************************************
//  VARIABLES
// ********************************************************************************************************************************************

$text_color = white - 10%
$body_color = #000000
$page_color = #010101

$brand_color = #EE433C
$brand_color_dark = #CC2A1C
$brand_color_bright = $brand_color * 1.3
$brand_color_hover = #EE433C - 20%

$gray_color = #8C8383

$rem  = 16rem
$line = 16px * 1.6

$mod = (75/16)rem



main_font()
	font-family "Proba Pro", sans-serif
second_font()
	font-family "Mignon", "Georgia", serif






// ********************************************************************************************************************************************
//  MIXINS
// ********************************************************************************************************************************************

trim_elipsis($num = 3)
	display: block
	// /* Fallback for non-webkit */
	display: -webkit-box
	// /* Fallback for non-webkit */
	-webkit-line-clamp: $num
	-webkit-box-orient: vertical
	overflow: hidden
	text-overflow: ellipsis



// ********************************************************************************************************************************************
//  SOCIAL COLORS
// ********************************************************************************************************************************************

$vk_color = #45668e
$facebook_color = #3b5998
$google-plus_color = #dd4b39
$youtube_color = #bb0000
// $vimeo_color = #aad450
$vimeo_color = #1ab7ea
$twitter_color = #00aced
$rss_color = #ff6600
