/********************************************************************************************************************************************
 *  FONTS
 ********************************************************************************************************************************************/

// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_thin-webfont.eot')
// 	src url('../fonts/proba/proba_pro_thin-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_thin-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_thin-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_thin-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_thin-webfont.svg#proba_prothin') format('svg')
// 	font-weight 100
// 	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_thin_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_thin_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_thin_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_thin_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_thin_italic-webfont.svg#proba_prothin_italic') format('svg')
// 	font-weight 100
// 	font-style italic


@font-face
	font-family 'Proba Pro'
	src url('../fonts/proba/proba_pro_extralight-webfont.eot')
	src url('../fonts/proba/proba_pro_extralight-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proba/proba_pro_extralight-webfont.woff2') format('woff2'),
		url('../fonts/proba/proba_pro_extralight-webfont.woff') format('woff'),
		url('../fonts/proba/proba_pro_extralight-webfont.ttf') format('truetype'),
		url('../fonts/proba/proba_pro_extralight-webfont.svg#proba_proextralight') format('svg')
	font-weight 200
	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_extralight_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_extralight_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_extralight_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_extralight_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_extralight_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_extralight_italic-webfont.svg#proba_proextralight_italic') format('svg')
// 	font-weight 200
// 	font-style italic


@font-face
	font-family 'Proba Pro'
	src url('../fonts/proba/proba_pro_light-webfont.eot')
	src url('../fonts/proba/proba_pro_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proba/proba_pro_light-webfont.woff2') format('woff2'),
		url('../fonts/proba/proba_pro_light-webfont.woff') format('woff'),
		url('../fonts/proba/proba_pro_light-webfont.ttf') format('truetype'),
		url('../fonts/proba/proba_pro_light-webfont.svg#proba_prolight') format('svg')
	font-weight 300
	font-style normal

// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_light_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_light_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_light_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_light_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_light_italic-webfont.svg#proba_prolight_italic') format('svg')
// 	font-weight 300
// 	font-style italic


@font-face
	font-family 'Proba Pro'
	src url('../fonts/proba/proba_pro_regular-webfont.eot')
	src url('../fonts/proba/proba_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proba/proba_pro_regular-webfont.woff2') format('woff2'),
		 url('../fonts/proba/proba_pro_regular-webfont.woff') format('woff'),
		 url('../fonts/proba/proba_pro_regular-webfont.ttf') format('truetype'),
		 url('../fonts/proba/proba_pro_regular-webfont.svg#proba_proregular') format('svg')
	font-weight 400
	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/proba/proba_pro_italic-webfont.woff2') format('woff2'),
// 		 url('../fonts/proba/proba_pro_italic-webfont.woff') format('woff'),
// 		 url('../fonts/proba/proba_pro_italic-webfont.ttf') format('truetype'),
// 		 url('../fonts/proba/proba_pro_italic-webfont.svg#proba_proitalic') format('svg')
// 	font-weight 400
// 	font-style italic


@font-face
	font-family 'Proba Pro'
	src url('../fonts/proba/proba_pro_medium-webfont.eot')
	src url('../fonts/proba/proba_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proba/proba_pro_medium-webfont.woff2') format('woff2'),
		url('../fonts/proba/proba_pro_medium-webfont.woff') format('woff'),
		url('../fonts/proba/proba_pro_medium-webfont.ttf') format('truetype'),
		url('../fonts/proba/proba_pro_medium-webfont.svg#proba_promedium') format('svg')
	font-weight 500
	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_medium_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_medium_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_medium_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_medium_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_medium_italic-webfont.svg#proba_promedium_italic') format('svg')
// 	font-weight 500
// 	font-style italic


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_semibold-webfont.eot')
// 	src url('../fonts/proba/proba_pro_semibold-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_semibold-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_semibold-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_semibold-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_semibold-webfont.svg#proba_prosemibold') format('svg')
// 	font-weight 600
// 	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_semibold_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_semibold_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_semibold_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_semibold_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_semibold_italic-webfont.svg#proba_prosemibold_italic') format('svg')
// 	font-weight 600
// 	font-style italic


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_bold-webfont.eot')
// 	src url('../fonts/proba/proba_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_bold-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_bold-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_bold-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_bold-webfont.svg#proba_probold') format('svg')
// 	font-weight 700
// 	font-style normal


// @font-face
// 	font-family 'Proba Pro'
// 	src url('../fonts/proba/proba_pro_bold_italic-webfont.eot')
// 	src url('../fonts/proba/proba_pro_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proba/proba_pro_bold_italic-webfont.woff2') format('woff2'),
// 		url('../fonts/proba/proba_pro_bold_italic-webfont.woff') format('woff'),
// 		url('../fonts/proba/proba_pro_bold_italic-webfont.ttf') format('truetype'),
// 		url('../fonts/proba/proba_pro_bold_italic-webfont.svg#proba_probold_italic') format('svg')
// 	font-weight 700
// 	font-style italic






@font-face
	font-family 'Mignon'
	src url('../fonts/mignon/mignon-regular.eot')
	src url('../fonts/mignon/mignon-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mignon/mignon-regular.woff') format('woff'),
		 url('../fonts/mignon/mignon-regular.ttf') format('truetype')
	font-weight normal
	font-style normal


@font-face
	font-family 'Mignon'
	src url('../fonts/mignon/mignon-it.eot')
	src url('../fonts/mignon/mignon-it.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mignon/mignon-it.woff') format('woff'),
		 url('../fonts/mignon/mignon-it.ttf') format('truetype')
	font-weight normal
	font-style italic


// @font-face
// 	font-family 'Mignon'
// 	src url('../fonts/mignon/mignon-medium.eot')
// 	src url('../fonts/mignon/mignon-medium.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/mignon/mignon-medium.woff') format('woff'),
// 		url('../fonts/mignon/mignon-medium.ttf') format('truetype')
// 	font-weight 500
// 	font-style normal


// @font-face
// 	font-family 'Mignon'
// 	src url('../fonts/mignon/mignon-mediumit.eot')
// 	src url('../fonts/mignon/mignon-mediumit.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/mignon/mignon-mediumit.woff') format('woff'),
// 		url('../fonts/mignon/mignon-mediumit.ttf') format('truetype')
// 	font-weight 500
// 	font-style italic


@font-face
	font-family 'Mignon'
	src url('../fonts/mignon/mignon-bold.eot')
	src url('../fonts/mignon/mignon-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/mignon/mignon-bold.woff') format('woff'),
		url('../fonts/mignon/mignon-bold.ttf') format('truetype')
	font-weight bold
	font-style normal


// @font-face
// 	font-family 'Mignon'
// 	src url('../fonts/mignon/mignon-semiboldit.eot')
// 	src url('../fonts/mignon/mignon-semiboldit.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/mignon/mignon-semiboldit.woff') format('woff'),
// 		url('../fonts/mignon/mignon-semiboldit.ttf') format('truetype')
// 	font-weight bold
// 	font-style italic