/********************************************************************************************************************************************
 *  HEADER
 ********************************************************************************************************************************************/

#masthead
	relative()
	width 100%
	top 0

	z-index 100

	margin-bottom -6px // TODO: Rewrite!


/********************************************************************************************************************************************
 *  MAIN LOGO
 ********************************************************************************************************************************************/

.main-logo
	relative()
	// absolute top left

	width $side
	height 2*$mod
	@media screen and (max-width $normal)
		width $side_normal
		height 2*$mod
	@media screen and (max-width $tablet)
		width $side_tablet

	float left

	first()
	font-weight 300

	color $text

	z-index 9

	.logo
		fill $brand

		width 72px !important
		height 72px !important
		@media screen and (max-width $normal)
			width 55px !important
			height 55px !important

		transition all .5s ease-out-quart

	.title
		upcase()

		@media screen and (max-width $normal)
			fs .85em


		.top
			relative()
			margin-top .6em
			left -.25em

			color $brand + 20%

			fs (18.7/16em)
			line-height 1em  // (!)
			letter-spacing .02em
			transition all .3s ease-out-quart

		.main
			relative()
			margin-top .23em
			left -.12em

			fs (23/16em)
			font-weight bolder
			line-height 1em // (!)
			letter-spacing .03em
			transition all .3s ease-out-quart

	& > a
		display block
		color inherit

	&:hover
		.logo
			fill $brand_dark
		.title
			.top
				color $text
			.main
				color $brand_dark
	&:active
		.logo
			fill darken($brand_dark, 25%)
		.title
			.top
				color darken($text, 25%)
			.main
				color darken($brand_dark, 25%)



/********************************************************************************************************************************************
 *  DESCRIPTOR
 ********************************************************************************************************************************************/
.descriptor
	height rem(2*$mod - 18px)
	@media screen and (max-width $normal)
		height rem(2*$mod - 44px)
	@media screen and (max-width $tablet)
		height rem(2*$mod - 42px)
	@media screen and (max-width $phone)
		display none


	.items
		upcase()
		distribute()
		padding-top rem(17px)
		@media screen and (max-width $normal)
			padding-top rem(13px)
			text-align right

	.item
		inline-block()
		reset-box-model()

		fs rem(14px)
		@media screen and (max-width $normal)
			fs rem(14px)
			margin-left rem(16px)
			&.company
				display none

		color $gray

	.search
		a
			button(transparent, $brand, $brand)
			padding .5em .8em
		margin-right -.8em
		float right
		relative()
		top rem(-6px)
		@media screen and (max-width $normal)
			top rem(-5px)

	.social-top
		fs 0
		margin 0  0 0 rem(-5px)
		// margin 0 rem(-5px)
		@media screen and (max-width $normal)
			margin-left rem(11px)
		.social-items
			relative()
			button(transparent)
			width rem(20px)
			padding rem(2px) rem(4px)
			@media screen and (max-width $normal)
				width rem(21px)
				padding rem(5px)
				fs rem(14px)
			text-align center
		.vk:hover:before
			background-color $vk
			outline-color $vk
		.facebook:hover:before
			background-color $facebook
			outline-color $facebook
		.google-plus
			display none
		.google-plus:hover:before
			background-color $google-plus
			outline-color $google-plus
		.youtube:hover:before
			background-color $youtube
			outline-color $youtube
		.vimeo:hover:before
			background-color $vimeo
			outline-color $vimeo
		.twitter:hover:before
			background-color $twitter
			outline-color $twitter
		.rss:hover:before
			background-color $rss
			outline-color $rss

		// a
		// 	relative()
		// 	inline-block()

		// 	padding .6em
		// 	width 1.2em

		// 	text-align center
		// 	color $text
		// 	fs rem(14px)

		// 	&:hover
		// 		background-color $brand_dark
		// 		outline-color $brand_dark
		// 		z-index 2000



	// 	// @media screen and (max-width: 1200px)
	// 	//  display none

	// @media screen and (max-width $normal)
	// 	.company
	// 		display none
	// 	.items
	// 		text-align right
	// 		.item
	// 			padding-right 1em
	// 		.search
	// 			padding-right 0
	// 		// &:after
	// 		//  content ""
	// 		lay inline-block()
	// 		//  width 100%