/********************************************************************************************************************************************
 *  MAIN MENU
 ********************************************************************************************************************************************/
#site-navigation
	relative()
	// @media screen and (max-width $normal)
	@media screen and (max-width $phone)
		display none

	// test()

	ul
		reset-list()


	// font-weight 500

	.mainMenu
		distribute()

		line-height 1

		.mainMenu-item
			inline-block()
			vertical-align top
			fs -rem(20px)
			@media screen and (max-width $tablet)
				fs -rem(18px)
			upcase()
			& > a
				colors($brand_dark, $brand, darken($brand_dark, 15%))
			&.active, &.child-active
				color $brand
				& > a
					colors($brand, $brand_dark, darken($brand_dark, 15%))
					// pointer-events none
					// @media screen and (max-width $normal)
					// 	pointer-events inherit
				.sideMenu
					display block
					opacity 1
					@media screen and (max-width $normal)
						display none
						// opacity 0

	.sideMenu
		display none
		// opacity 0
		absolute()
		left 0
		width 15*$rem
		margin-top $top_page_margin * .5
		font-weight normal
		fs -rem(16px)
		line-height 1.4

		transition opacity 1s ease-out-quart 1s

		.sideMenu-item
			margin-bottom .8em
			& > a
				line-height (5/4)

			&.active
				color $brand
				& > a
					colors($brand, $brand_dark, darken($brand_dark, 15%))

		@media screen and (max-width $normal)
			display none
			width -rem(50px)
			margin-top $rem
			position inherit
			position static
			left inherit
			reset-case()

			.sideMenu-item
				relative()
				width 200%
				margin-bottom .8em
				& > a
					colors($gray, $brand_dark, darken($brand_dark, 15%))
					line-height (5/4)

				&.active
					& > a
						colors($brand, $brand_dark, darken($brand_dark, 15%))

	// @media screen and (max-width: 1440px)
	// 	.mainMenu
	// 		// display table
	// 		relative()
	// 		// -webkit-transition: height 500ms ease 500s;
	// 		.mainMenu-item
	// 			// relative()
	// 			vertical-align top
	// 			// display inline
	// 			// width 80px // !!!!
	// 			padding-top 1.56em
	// 			&:hover
	// 				.sideMenu
	// 					display block
	// 					z-index 9999
	// 			&.active, &.child-active
	// 				.sideMenu
	// 					display none
	// 					// height 0
	// 				&:hover
	// 					.sideMenu
	// 						display block
	// 			.sideMenu
	// 				display none
	// 				position static
	// 				margin-top -5em
	// 				padding-top 5.5em
	// 				&:hover
	// 					display block
	// 				// position absolute
	// 				// relative()
	// 				top 100%
	// 				left inherit
	// 				width 50px

	// 				z-index 999


	// 				.sideMenu-item
	// 					a
	// 						color $gray_color
	// 						text-transform inherit
	// 					&.active
	// 						a
	// 							color $text_color
	// 					width 300%
	// 					// white-space nowrap
	// 					padding-right 100%
	// 					margin-bottom .5em
	// 					// position absolute
