@import 'fonts'

@import 'vars'

/**********************************************************************************************************************
 * NORMALIZE
 **********************************************************************************************************************/
normalize-css()

/**********************************************************************************************************************
 * PRINT
 **********************************************************************************************************************/
print-styles()

/**********************************************************************************************************************
 * STYLES
 **********************************************************************************************************************/
//
// FLUID MEDIA
//
fluid-media()

@import 'general'

@import 'blocks/header'
@import 'blocks/main-navigation'
@import 'blocks/footer'

@import 'home/calendar'
@import 'home/newsfeed'
@import 'home/directors-word'

@import 'pages/playbill'
@import 'pages/repertoire'
@import 'pages/troupe'
@import 'pages/contacts'

@import 'pages/person'
@import 'pages/performance'
@import 'pages/performance_bg'

@import 'pages/archive'

@import 'pages/about'


@import 'blocks/buy_popup'
@import 'vendor/font_awesome'
