@import '_fonts'
// @import '../../assets/fonts/font-awesome/font-awesome.css'
@import '_font_awesome'
@import '_vars'

@import 'axis'
@import 'jeet'

normalize-css()

@import '_general'
@import '_typo'

@import '_header'
@import '_header__descriptor'
@import '_header__main-logo'


@import '_footer'

@import '_main-navigation'

// @import '_secondary-navigation'


@import '_home__playbill'
@import '_home__newsfeed'
@import '_home__directors-word'

@import '_pages'

@import '_page__playbill'
@import '_page__repertoire'
@import '_page__troupe'

@import '_page__person'
@import '_page__performance'

@import '_page__about'

@import '_page__contacts'

@import '_page__news'
// @import '_page__news-archive'

@import '_page__press'
@import '_page__press-archive'


@import '_custom'



.module
	// float left
	z-index 10000
	position absolute
	top 0
	width 100%
	height 100%
	pointer-events none

	input
		pointer-events all

	#on ~ .modules
			display none

	#on:checked ~ .modules
		display block
		position absolute
		// width 1920px
		// height 4000px
		width 100%
		height 100%
		top 0
		left 0
		z-index 99999
		pointer-events none
		// background url('../images/module.png') 0 0
		// opacity .75

		background linear-gradient(0deg, rgba(white,.2) 1px, rgba(0,0,0,0) 1px),
                   linear-gradient(90deg, rgba(white,.2) 1px, rgba(0,0,0,0) 1px)
		background-size (16/1920)*100% 16px, (16/1920)*100% 16px
		background-position top center, top center

	input, label
		position absolute
		z-index 9999999999
		// right 20px


// 	position absolute
// 	width 100%
// 	height 100%
// 	z-index 100
// 	// &:hover
// 	// 	opacity 0
// 	// transition all .2s ease .2s

// body
// 	min-width 1920px

// a
// 	z-index 9999