.bg-container
	position absolute
	top 0
	left 0
	right 0
	bottom 0

	pointer-events none

.bg
	position absolute

	top 0
	left 0
	right 0
	bottom 0

	// outline 1px dashed rgba(white, .2)
	// test()

.bg-item
	position absolute

	right 0
	left 0

	background-repeat no-repeat
	background-size contain

	// outline 1px dashed rgba(yellow, .2)
	z-index -100

	// border-color #050505 !important
	// border-bottom 33px solid #000
	// test()


// .rt, .rm, .rb
// 	margin-top 64px

// .lt, .lm, .lb
// 	margin-top 475px

// .lm.rm
// 	transform scale(-1,1)