// *****************************************************************************************************************************************
// CONTACTS PAGE
// *****************************************************************************************************************************************/
#contacts-page

	// margin-bottom -32px
	margin-top $top_page_margin
	@media screen and (max-width $small)
		margin-top $top_page_margin_small

	#google-map
		relative()
		padding-bottom 7*$mod
		margin-bottom 9*$mod

		background url('../images/map_blur.jpg') 100% 100% no-repeat

	#map-canvas
		absolute()
		top 0
		size 100%
		reset-box-model()

	.content
		cf()
		@media screen and (max-width $normal)
			absolute()
			top 8.5*$mod
			width 100%

	.info
		width $side
		@media screen and (max-width $normal)
			width $side_normal
		@media screen and (max-width $tablet)
			width $side_tablet
		float left
		.times
			fs rem(17px)
			.time
				color $brand
	.info-block
		& + .info-block
			margin-top $rem

	.ticket
		.subheader
			color $brand

	.main-content
		margin-left $side
		margin-bottom 2*$mod
		@media screen and (max-width $normal)
			margin-left $side_normal
		@media screen and (max-width $tablet)
			margin-bottom $mod
			margin-left $side_tablet

		// columns 3

		p
			margin 0

		distribute()

		.main-address, .phones.administration
			fs (16px)
			inline-block()
			vertical-align top

		.main-address
			// -webkit-column-break-after always
			// column-break-after always
			p
				margin-bottom 1em
		.item
			p
				margin-bottom 1em

		.main-address, .item
			-webkit-column-break-inside avoid
			break-inside avoid
		// .phones.administration
		// 	&:before, &:after
		// 		content ""
		// 		display block


	.phone
		color $brand