
{% set bg   = post.background[key] %}
{# {% set pos  = post.bg_pos[key] %} #}
{% set mask = post.background_mask[key] %}
{% set flat = post.background_flat[key] %}

{% if bg and flat | length != 0 and mask | length != 0 %}<!-- Backgrounds -->
    <div class="bg bg-{{key+1}}" >

        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 {{ bg.sizes[0] }} {{ bg.sizes[1] }}"
            {{ bg.sizes[3] |raw }}
        >
            <defs>
                <mask id="MaskG-{{key+1}}">
                    <image
                        xlink:href="{{mask.path}}"
                        x="0" y="0"
                        width="{{ bg.sizes[0] }}px"
                        height="{{ bg.sizes[1] }}px">
                    </image>
                </mask>
            </defs>
            <image
                xlink:href="{{flat.path}}"
                x="0" y="0"
                width="{{ bg.sizes[0] }}px"
                height="{{ bg.sizes[1] }}px"
                mask="url(#MaskG-{{key+1}})">
            </image>
        </svg>

    </div>
{% elseif bg %}
    <div class="bg bg-{{key+1}} {{ class }}">
        {# <img src="{{bg.path}}" {{ bg.sizes[3] |raw }}> #}
    </div>
{% endif %}