    <div class="container">
        <div class="wrap">

            <div style="" class="content title">{{ post.title }}<div class="buy-button"><a href="#">Купить билет!</a></div></div>
            {% if post.author %}<div class="content author">{{ post.author }}</div>{% endif %}
            {% if post.description %}<div class="content description{% if post.author == null %} alone{% endif %}">{{ post.description }}</div>{% endif %}

            {% partial __SELF__ ~ "::event" %}

            <div class="content about">
                {{ post.content|raw }}
            </div>


            {% partial __SELF__ ~ "::participations" %}

            {% partial __SELF__ ~ "::press" %}

            {% partial __SELF__ ~ "::video" %}

            {% partial __SELF__ ~ "::gallery" %}

            <div class="content meta">
                <div class="premiere-date">Премьера состоялась</br><span class="nowrap">{{ post.premiere_date | dateLocale('%e %h %Y года') }}</span></div>

                <div class="duration">
                    Длительность спектакля<br>
                    {% if post.duration %}<span class="nowrap">{{ post.duration | duration }}</span>{% endif %}
                    {% if post.entracte == 0 %}<span class="nowrap"> без антракта</span>
                    {% elseif post.entracte == 1 %}<span class="nowrap"> с одним антрактом</span>
                    {% elseif post.entracte == 2 %}<span class="nowrap"> с двумя антрактами</span>
                    {% endif %}
                </div>
            </div>

    </div>
</div>

{#
<style type="text/css">
    {% for layout in post.bg_layouts %}

    {{ layout.query }} {
        {% for bg in layout.positions %}

        .bg-{{ bg.bg + 1 }} {
            display: block !important;
            top: {{ bg.top_perc }};
            height: {{ bg.height_perc }};
            bottom: {{ bg.bottom_perc }};
            text-align: {{ bg.halign ?: bg.column }};
            vertical-align: {{ bg.valign ?: 'middle' }};
            {% if bg.column == 'right' %}
            right: 0 !important;
            padding-left: {{ 960 - bg.width }}px;
            {% endif %}
            {% if bg.column == 'left' %}
            left: 0 !important;
            padding-right: {{ 960 - bg.width }}px;
            {% endif %}
        }
        {% endfor %}

    }
    {% endfor %}
</style>
 #}

<div class="block">
    {% for layout in post.bg_layouts %}

    <div class="bg-container {{layout.query}}">
        {% for bg in layout.positions %}
        {% partial __SELF__ ~ "::background" data = bg %}
        {% endfor %}
    </div>
    {% endfor %}

</div>


