description = "Стандартный"

[staticPage]

[staticMenu]
code = "main-menu"
==
<!-- Default -->
<!DOCTYPE html>
<html>
<head>

<title>{{ post.title ? post.title : this.page.title }} — Театр «Комедианты»</title>
<meta name="title" content="{{ post.title ? post.title : this.page.meta_title }}" >

{% partial "meta" %}

</head>



<body>
<div id="page" class="hfeed site">

	{% partial "header" %}

	<!-- Content -->
	<main id="main" role="main" class="site-main">

		{% page %}

	</main>

    {% partial "footer" %}
	{% partial "buyTicket/default" %}

</div><!-- #page -->


<!-- Scripts -->
<script src="{{ ['assets/js/jquery.min.js', 'assets/js/main.js' ]|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>