description = "Стандартный"

[staticPage]

[staticMenu]
code = "main-menu"
==
<!-- Default -->
<!DOCTYPE html>
<html>
<head>

<title>{{ post.title ? post.title : this.page.title }} — Театр «Комедианты»</title>
<meta name="title" content="{{ post.title ? post.title : this.page.meta_title }}" >

{% partial "meta" %}

</head>



<body>
<div id="page" class="hfeed site">

	{% partial "header" %}

	<!-- Content -->
	<main id="main" role="main" class="site-main">

		{% page %}

	</main>

	{% partial "footer" %}

    <div class="buy-popup">
        <div class="buy-popup-content">
            <div class="header">Выберите оператора для покупки билета</div>
            <a class="close" href="javascript:BuyPopUpHide()"></a>
            <div class="sponsor"><a target="blank" href="http://www.bileter.ru/place/teatr_komediantyi.html"><img src="{{ 'partials/sponsors/buy_bileter.png'    |theme}}"></a></div>
            <div class="sponsor"><a target="blank" href="https://spb.kassir.ru/kassir/hall/view/810"><img src="{{ 'partials/sponsors/buy_kassir.png'     |theme}}"></a></div>
            <div class="sponsor"><a target="blank" href="http://www.biletsofit.ru/team/51/teatr_Komedianty/"><img src="{{ 'partials/sponsors/buy_biletsofit.png' |theme}}"></a></div>
            <div class="sponsor"><a target="blank" href="http://bigbilet.ru/place/komedianty"><img src="{{ 'partials/sponsors/buy_bigbilet.png'   |theme}}"></a></div>
        </div>
    </div>
</div><!-- #page -->


<!-- Scripts -->
<script src="{{ ['assets/js/jquery.min.js', 'assets/js/main.js' ]|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>