                        <div class="calendar">
                            <div class="container">
                                <div class="wrap">
                                    <button type="button" data-role="none" class="nav slick-prev" style="display: block;">Назад</button>
                                    <div class="slider">
                                        <div class="slide">
                                        {% for event in events %}<!-- {{ event.event_date | date('Y-m-d') ~ '-' ~ event.relation.slug }} -->
                                            <a href="#{{ event.event_date | date('Y-m-d') ~ '-' ~ event.relation.slug }}" class="slider-item {{ event.active }}">
                                                <div class="day">{{ event.event_date | date('d') }}</div>
                                                <div class="weekday {{ event.event_date | date('D') }}">{{ event.event_date | dateLocale('%a') }}</div>
                                            </a>
                                        {% endfor %}<!-- /End -->
                                        {% if events|length < 23 %}
                                            {% set count = 23 - (events|length) %}
                                            {% set event = events | last %}
                                            {% set date = event.event_date %}
                                            {% for item in 0..count %}
                                            {% set date = date|date_modify("+1 day")|date('Y-m-d') %}
                                            <div class="slider-item empty">
                                                <div class="day">{{ date | date('d') }}</div>
                                                <div class="weekday {{ date | date('D') }}">{{ date | dateLocale('%a') }}</div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <button type="button" data-role="none" class="nav slick-next" style="display: block;">Вперед</button>
                                </div>
                            </div>
                        </div>