{% put scripts %}
    <script type="text/javascript" src="http://komedianty.apit.bileter.ru/d98a3e8ab87ecd3721a78a273bd9146a.js"></script>
{% endput %}

{% put styles %}
    <link href="http://apit.bileter.ru/css/apit.css" rel="stylesheet" />
    <link href="http://apit.bileter.ru/css/komedianty.com.css" rel="stylesheet" />
{% endput %}


{% if group %}{% set events = group.normal %}{% else %}{% set events = posts %}{% endif %}
{% partial __SELF__ ~ "::events" events=events %}
{% partial __SELF__ ~ "::calendar" events=events %}


