<!-- Events -->
                        {% for event in events %}<!-- {{ event.event_date | date('Y-m-d') ~ event.relation.slug }} -->
                        <div style="background: url('{{ event.playbill.path }}');" id="{{ event.event_date | date('Y-m-d') ~ event.relation.slug }}" class="event {{ event.active }} {{ event.relation.slug }}">
                            <div class="container">
                                <div class="ratio">
                                    <h3 class="section-header"><a href="{{ 'pages/playbill' | page }}">Афиша</a></h3>
                                    <div class="title-block">
                                        <div class="author">{{ event.author }}</div>
                                        <div class="title">
                                            <a href="{{ event.url }}">{% if event.title_html %}{{ event.title_html|raw }}{% else %}{{ event.title }}{% endif %}</a>
                                        </div>
                                    </div>
                                    <div class="date-block">
                                        <div class="date day {{ event.dayclass }} "><span>{{ event.day }}</span></div>
                                        <div class="date month {{ event.month2 }}"><span>{{ event.month }}</span></div>
                                        <div class="date weekday {{ event.weekday2 }}"><span>{{ event.weekday }}</span></div>
                                        <div class="button-buy"><a href="#">Купить билет</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}<!-- /End -->
