<!-- Events -->
						{% for event in events %}{% set meta = event.relation.meta %}<!-- {{ event.event_date | date('Y-m-d') ~ '-' ~ event.relation.slug }} -->
						<div style="background: url('{{ event.relation.playbill.path }}');" id="{{ event.event_date | date('Y-m-d') ~ '-' ~ event.relation.slug }}" class="event {{ event.active }} {{ event.relation.slug }}">
							<div class="container">
								<div class="wrap">
									<div class="ratio">
										<h3 class="section-header"><a href="{{ 'theater/playbill' | page({date: now}) }}">Афиша</a></h3>
										<div class="title-block" >
											<div class="author">{{ event.relation.author }}</div>
											<div
												class="title"
												style="{{ meta.calendar_title_font_size ? 'font-size:' ~ meta.calendar_title_font_size ~ ';' }}"
											>
												<a href="{{ event.relation.url }}">{{ (meta.calendar_title ? meta.calendar_title : event.relation.title)|raw }}</a>
											</div>
										</div>
										<div
											class="date-block"
											style="{#
											 #}{{ meta.calendar_date_block_bg_color ? 'background-color:' ~ meta.calendar_date_block_bg_color ~ ';' }}{#
											 #}{{ meta.calendar_date_block_color ? 'color:' ~ meta.calendar_date_block_color ~ ';' }}{#
											 #}"
										>
											<div class="date day day{{ event.event_date | date('j') }} "><span>{{ event.event_date | date('j') }}</span></div>
											<div class="date month {{ event.event_date | date('M') }}"><span>{{ event.event_date | dateLocale('%h') }}</span></div>
											<div class="date weekday {{ event.event_date | date('D') }}"><span>{{ event.event_date | dateLocale('%A') }}</span></div>
											<div class="button-buy"><a href="#">Купить билет</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}<!-- /End -->
